.accordian {
    position: relative;
    width: 100%;
    color: 1px solid var(--hvz-border);
    overflow: hidden;
}

.accordian>input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.accordian>label {
    position: relative;
    display: block;
    padding: 6px;
    background: var(--hvz-secondary);
    font-weight: bold;
    cursor: pointer;
    margin: 5px 0px 0px 0px;
    border-radius: 5px;
    border: 1px solid var(--hvz-border);
    user-select: none;
    min-height: 24px;
}

.accordian-content {
    max-height: 0px;
    overflow: hidden;
    background: var(--hvz-secondary);
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
    border-radius: 0px 0px 5px 5px;
    padding: 0px 10px;
    margin: 0px 5px;
}

input:checked~.accordian-content {
    max-height: inherit;
    border: 1px solid var(--hvz-border);
    border-top: none;
    padding-bottom: 5px;
}

.accordian>label::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}
