.alerting {
    z-index: 11;
    position: fixed;
    width: auto;
}

.alert {
    padding: 0.75rem 1.25rem;
    margin: 20px;
    min-width: inherit;
    max-width: 450px;
    border: 1px solid transparent;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 2rem;
}

.alert>button {
    color: black;
    font-size: 1rem;
    border: none;
    background: none;
    padding: 0;
    padding-left: 1rem;
}

.alert-success {
    background-color: var(--hvz-green-light);
    border-color: var(--hvz-green-dark);
    color: var(--hvz-green);
}

.alert-info {
    background-color: var(--hvz-blue-light);
    border-color: var(--hvz-blue-dark);
    color: var(--hvz-blue);
}

.alert-warning {
    background-color: var(--hvz-yellow-light);
    border-color: var(--hvz-yellow-dark);
    color: var(--hvz-yellow);
}

.alert-danger {
    background-color: var(--hvz-red-light);
    border-color: var(--hvz-red-dark);
    color: var(--hvz-red);
}
