hvz-toggle {
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    outline: 0px;
    height: 2rem;
    position: relative;
    transform: skewX(-10deg);
    font-weight: bold;
    text-align: center;
    line-height: 2rem;
    border: 0.1rem solid black;
    color: var(--hvz-text-light);
    text-shadow: -1px -1px 0 var(--hvz-border-dark),
                  1px -1px 0 var(--hvz-border-dark),
                 -1px  1px 0 var(--hvz-border-dark),
                  1px  1px 0 var(--hvz-border-dark);
    margin-top: 5px;
    display: inline-block;
    transition: background 0.2s ease;
    overflow: hidden;
    margin-left: 20px;
}

hvz-toggle:disabled {
    cursor: not-allowed;
}

.animate-right {
    position: relative;
    animation: animateright 0.2s
}

@keyframes animateright {
    from {
        right: -300px;
        opacity: 0
    }

    to {
        right: 0;
        opacity: 1
    }
}
