.colourpicker {
    padding: 0px;
    width: 4rem;
    height: 2rem;
    transform: skew(-10deg);
    border: 0.1rem solid black;
    background-color: var(--hvz-yellow-light);
    cursor: pointer;
    margin-top: 5px;
    margin-left: 20px;
}
