.games-grid {
    display: grid;
    grid-template-columns: 280px auto;
}

.map-grid {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 0.25rem;
}

.accordian-grid {
    display: grid;
    grid-template-columns: 200px auto 47px;
}

.markers-grid {
    display: grid;
    grid-template-columns: 100px 1fr 5px 100px 2fr 5px 100px 2fr 5px 100px 10fr 5px 100px;
}

.polygon-grid {
    display: grid;
    grid-template-columns: 210px 1fr 5px 100px 200px 5px 100px 2fr 5px 100px;
}

.verticies-grid {
    display: grid;
    grid-template-columns: 100px 1fr 5px 100px 1fr 47px 47px;
}

.home-grid {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
}

.stun-grid {
    display: grid;
    grid-template-columns: 200px 1fr 4rem;
    padding: 0px 5px 5px 5px;
    border: 1px solid;
    grid-template-areas: "labelR1 inputR1 inputR1"
                         "labelR2 inputR2 inputR2"
                         "labelR3 inputR3 inputR3"
                         "labelR4 inputR4 submit";
}

.supply-grid {
    display: grid;
    grid-template-columns: 200px auto 7.1rem;
    padding: 0px 5px 5px 5px;
    border: 1px solid;
}

.settings-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 15rem 5px auto;
    grid-template-areas: "labelR1 blank2 inputR1"
                         "labelR2 blank2 inputR2"
                         "labelR3 blank2 inputR3"
                         "labelR4 blank2 inputR4"
                         "title   title  title"
                         "submit  submit submit";
}

.resetpassword-grid {
    display: grid;
    grid-template-columns: 200px auto 170px;
    padding: 0px 5px 5px 5px;
    border: 1px solid black;
    margin-top: 5px;
    grid-template-areas: "labelR1 inputR1 inputR1"
                         "labelR2 inputR2 inputR2"
                         "labelR3 inputR3 submit";
}

.messages-grid {
    display: grid;
    grid-template-columns: 7rem auto;
}

.super-player-grid {
    display: grid;
    grid-template-columns: 15rem 1fr;
}

.messages-buttons-grid {
    display: grid;
    grid-template-columns: 300px auto 150px;
}

.game-players-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-column-gap: 5px;
    margin: 0px 5px;
    border-bottom: 1px solid var(--hvz-border-dark);
}

.super-player-grid {
    display: grid;
    grid-template-columns: 150px 1fr 5px 150px 1fr 5px 150px 1fr 5px 150px 150px 5px auto;
}

.edit-player-grid {
    display: grid;
    grid-template-columns: 125px 1fr;
}

.game-moderator-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
    margin: 0px 5px;
    border-bottom: 1px solid var(--hvz-border-dark);
}

.game-signups-grid {
    display: grid;
    grid-template-columns: 150px 1fr 5px 150px 1fr 5px 175px 1fr 5px 90px;
    margin: 0px 5px;
}

.game-start-grid {
    display: grid;
    grid-template-columns: 175px 1fr 5px 200px 1fr 5px 175px 100px;
}

.games-grid .accordian,
.games-grid .right {
    grid-column: 1/3;
}

.home-grid>* {
    text-align: center;
}

.resetpassword-grid>input:nth-of-type(3),
.stun-grid input:last-of-type,
.supply-grid input:last-of-type,
.verticies-grid input:last-of-type,
.verticies-grid button:first-of-type,
.accordian-grid .form-control {
    border-radius: 0;
}

.settings-grid>label {
    border-radius: 5px;
    border-right-width: 1px;
}

.resetpassword-grid>label:nth-of-type(1),
.settings-grid>label:nth-of-type(1),
.stun-grid>label:nth-of-type(1) {
    grid-area: labelR1;
}

.resetpassword-grid>label:nth-of-type(2),
.settings-grid>label:nth-of-type(2),
.stun-grid>label:nth-of-type(2) {
    grid-area: labelR2;
}

.resetpassword-grid>label:nth-of-type(3),
.settings-grid>label:nth-of-type(3),
.stun-grid>label:nth-of-type(3) {
    grid-area: labelR3;
}

.settings-grid>label:nth-of-type(4),
.stun-grid>label:nth-of-type(4) {
    grid-area: labelR4;
}

.resetpassword-grid>input:nth-of-type(1),
.settings-grid>hvz-toggle:nth-of-type(1),
.stun-grid>textarea {
    grid-area: inputR1;
}

.resetpassword-grid>input:nth-of-type(2),
.settings-grid>hvz-toggle:nth-of-type(2),
.stun-grid>input:nth-of-type(1) {
    grid-area: inputR2;
}

.resetpassword-grid>input:nth-of-type(3),
.settings-grid>hvz-toggle:nth-of-type(3),
.stun-grid>input:nth-of-type(2) {
    grid-area: inputR3;
}

.settings-grid>input:nth-of-type(1),
.settings-grid>button:nth-of-type(1),
.stun-grid>input:nth-of-type(3) {
    grid-area: inputR4;
}

.settings-grid>h3 {
    grid-area: title;
}

.stun-grid>button,
.settings-grid>.resetpassword-grid,
.resetpassword-grid>button {
    grid-area: submit;
}

.messages-grid>b {
    grid-column: 1/3;
}

.messages-grid>div {
    grid-column: 1/3;
    width: 95vw;
}

.messages-buttons-grid>button:first-child {
    grid-column: 1/2;
}

.messages-buttons-grid>button:last-child {
    grid-column: 3/4;
}

.game-signups-grid>label:nth-of-type(3),
.game-start-grid>label:nth-of-type(3) {
    border-right: 1px solid 1px solid var(--hvz-border);
}

.game-signups-grid>hvz-toggle,
.game-start-grid>hvz-toggle {
    margin-left: 10px;
}

.game-player-codes-grid>label:last-of-type {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.game-codes-grid {
    display: grid;
    grid-template-columns: 175px 1fr 5px 200px 1fr 5px 175px 1fr;
}

.game-player-codes-grid {
    display: grid;
    grid-template-columns: 125px 1fr 5px 125px 1fr 5px 125px 1fr 60px;
}

.report-grid {
    display: grid;
    grid-template-columns: 80px 2fr 5px 80px 2fr 5px 60px 2fr 5px 100px 1fr 5px 110px 3fr 5px 60px 50px 5px 100px;
}

.one-time-grid {
    display: grid;
    grid-template-columns: 200px 100px;
}

.super-player-grid>*:last-child {
    border-radius: 0.25rem;
    border: 1px solid var(--hvz-border-dark);
}

.game-player-codes-grid:last-of-type {
    margin-bottom: 5px;
}

.markers-grid>*:nth-child(1),
.super-player-grid>*:nth-child(1),
.polygon-grid>*:nth-child(1),
.verticies-grid>*:nth-child(1),
.game-signups-grid>*:nth-child(1),
.game-start-grid>*:nth-child(1),
.game-player-codes-grid>*:nth-child(1),
.report-grid>*:nth-child(1),
.game-codes-grid>*:nth-child(1) {
    grid-column: 1/2;
}

.markers-grid>*:nth-child(2),
.super-player-grid>*:nth-child(2),
.polygon-grid>*:nth-child(2),
.verticies-grid>*:nth-child(2),
.game-signups-grid>*:nth-child(2),
.game-start-grid>*:nth-child(2),
.game-player-codes-grid>*:nth-child(2),
.report-grid>*:nth-child(2),
.game-codes-grid>*:nth-child(2) {
    grid-column: 2/3;
}

.markers-grid>*:nth-child(3),
.super-player-grid>*:nth-child(3),
.polygon-grid>*:nth-child(3),
.verticies-grid>*:nth-child(3),
.game-signups-grid>*:nth-child(3),
.game-start-grid>*:nth-child(3),
.game-player-codes-grid>*:nth-child(3),
.report-grid>*:nth-child(3),
.game-codes-grid>*:nth-child(3) {
    grid-column: 4/5;
}

.markers-grid>*:nth-child(4),
.super-player-grid>*:nth-child(4),
.polygon-grid>*:nth-child(4),
.verticies-grid>*:nth-child(4),
.game-signups-grid>*:nth-child(4),
.game-start-grid>*:nth-child(4),
.game-player-codes-grid>*:nth-child(4),
.report-grid>*:nth-child(4),
.game-codes-grid>*:nth-child(4) {
    grid-column: 5/6;
}

.markers-grid>*:nth-child(5),
.super-player-grid>*:nth-child(5),
.polygon-grid>*:nth-child(5),
.game-signups-grid>*:nth-child(5),
.game-start-grid>*:nth-child(5),
.game-player-codes-grid>*:nth-child(5),
.report-grid>*:nth-child(5),
.game-codes-grid>*:nth-child(5) {
    grid-column: 7/8;
}

.markers-grid>*:nth-child(6),
.super-player-grid>*:nth-child(6),
.polygon-grid>*:nth-child(6),
.game-signups-grid>*:nth-child(6),
.game-start-grid>*:nth-child(6),
.game-player-codes-grid>*:nth-child(6),
.report-grid>*:nth-child(6),
.game-codes-grid>*:nth-child(6) {
    grid-column: 8/9;
}

.markers-grid>*:nth-child(7),
.super-player-grid>*:nth-child(7),
.polygon-grid>*:nth-child(7),
.game-signups-grid>*:nth-child(7),
.report-grid>*:nth-child(7),
.game-start-grid>*:nth-child(7) {
    grid-column: 10/11;
}

.report-grid>*:nth-child(8),
.super-player-grid>*:nth-child(8),
.markers-grid>*:nth-child(8) {
    grid-column: 11/12;
}

.report-grid>*:nth-child(9),
.super-player-grid>*:nth-child(9),
.markers-grid>*:nth-child(9) {
    grid-column: 13/14;
}

.report-grid>*:nth-child(10) {
    grid-column: 14/15;
}

.report-grid>*:nth-child(11) {
    grid-column: 16/17;
}

.report-grid>*:nth-child(12) {
    grid-column: 17/18;
}

.report-grid>*:nth-child(13) {
    grid-column: 19/20;
}

.report-grid>*:nth-child(14) {
    grid-column: 20/21;
}

@media  only screen and (-webkit-min-device-pixel-ratio: 1.3),
        only screen and (-o-min-device-pixel-ratio: 13/10),
        only screen and (min-resolution: 120dpi),
    {
    .resetpassword-grid {
        grid-template-areas: "labelR1 inputR1 inputR1"
                             "labelR2 inputR2 inputR2"
                             "labelR3 inputR3 inputR3"
                             "submit  submit  submit";
    }

    .messages-buttons-grid {
        grid-template-columns: 1fr;
    }

    .messages-buttons-grid>button:last-child {
        grid-column: 1/2;
    }
}

@media  only screen and (-webkit-min-device-pixel-ratio: 1.3),
        only screen and (-o-min-device-pixel-ratio: 13/10),
        only screen and (min-resolution: 120dpi),
        only screen and (max-width: 1150px)
    {
    .game-signups-grid {
        grid-template-columns: 150px 1fr;
    }

    .game-signups-grid>*:nth-child(odd) {
        grid-column: 1/2;
    }

    .game-signups-grid>*:nth-child(even) {
        grid-column: 2/3;
    }

    .game-signups-grid>*:last-child {
        grid-row: 1/2;
        grid-column: 1/3;
    }

    .game-signups-grid>*:nth-child(-n+6):nth-last-child(-n+5) {
        margin-top: 0;
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .game-signups-grid>*:nth-child(-n+4):nth-last-child(-n+7) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

@media  only screen and (-webkit-min-device-pixel-ratio: 1.3),
        only screen and (-o-min-device-pixel-ratio: 13/10),
        only screen and (min-resolution: 120dpi),
        only screen and (max-width: 1400px)
    {
    /* This is for the super user page*/
    .markers-grid {
        grid-template-columns: 100px 1fr;
    }

    .markers-grid>*:nth-child(odd) {
        grid-column: 1/2;
    }

    .markers-grid>*:nth-child(even) {
        grid-column: 2/3;
    }

    .markers-grid>*:last-child {
        grid-row: 1/2;
        grid-column: 1/3;
    }

    .markers-grid>*:nth-child(-n+8):nth-last-child(-n+7) {
        margin-top: 0;
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .markers-grid>*:nth-child(-n+6):nth-last-child(-n+9) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    /* This is for the players view on the moderators page*/

    .game-player-codes-grid {
        grid-template-columns: 125px 1fr;
    }

    .game-player-codes-grid>*:nth-child(n+3) {
        margin-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .game-player-codes-grid>*:nth-child(n):nth-child(-n+4) {
        border-bottom: none;
    }

    .game-player-codes-grid>*:nth-child(odd) {
        border-bottom-left-radius: 0;
        grid-column: 1/2;
    }

    .game-player-codes-grid>*:nth-child(even) {
        border-bottom-right-radius: 0;
        grid-column: 2/3;
    }

    .game-player-codes-grid>label:last-of-type {
        border-bottom-right-radius: 5px;
    }

    .game-player-codes-grid>button {
        border-bottom-left-radius: 5px!important;
        border: 1px solid var(--hvz-border)!important;
        border-top: none!important;
    }
}

@media  only screen and (-webkit-min-device-pixel-ratio: 1.3),
        only screen and (-o-min-device-pixel-ratio: 13/10),
        only screen and (min-resolution: 120dpi),
        only screen and (max-width: 1750px)
    {
    /* This is for the super user page polygons*/
    .polygon-grid {
        grid-template-columns: 225px 1fr;
    }

    .polygon-grid>*:nth-child(odd) {
        grid-column: 1/2;
    }

    .polygon-grid>*:nth-child(even) {
        grid-column: 2/3;
    }

    .polygon-grid>*:last-child {
        grid-row: 1/2;
        grid-column: 1/3;
    }
}
