a.btn {
    text-decoration-line: none;
}

.form-control, select, textarea {
    background-color: var(--hvz-yellow-light);
    padding: 6px;
}

.form-control:focus, .form-control.focus, select:focus, textarea:focus {
    background-color: var(--hvz-yellow);
}

.form-control:disabled, .form-control.disabled, select:disabled, textarea:disabled {
    background-color: var(--hvz-disabled);
}

select {
    background-color: var(--hvz-text-light);
    border: 1px solid;
    cursor: pointer;
    border-radius: 5px;
    height: auto;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

button[type="submit"].hidden {
    display: none;
}

button {
    cursor: pointer;
}

.btn {
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
    cursor: pointer;
    border-radius: 0.25rem;
    border: 1px solid var(--hvz-border-dark);
    display: inline-block;
    font-weight: bold;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.5rem 1rem;
    width: fit-content;
}

.btn-tab {
    margin-top: 0;
    display: none;
    user-select: none;
}

.btn-warning {
    background-color: var(--hvz-yellow-dark);
    color: var(--hvz-yellow-light);
}

.btn-warning:hover {
    background-color: var(--hvz-yellow);
}

.btn-warning:active {
    background-color: var(--hvz-yellow-darker);
}

.btn-danger {
    background-color: var(--hvz-red-dark);
    color: var(--hvz-red-light);
}

.btn-danger:hover {
    background-color: var(--hvz-red);
}

.btn-danger:active {
    background-color: var(--hvz-red-darker);
}

.btn-info {
    background-color: var(--hvz-blue-dark);
    color: var(--hvz-blue-light);
}

.btn-info:hover {
    background-color: var(--hvz-blue);
}

.btn-info:active {
    background-color: var(--hvz-blue-darker);
}

.btn-success {
    background-color: var(--hvz-green-dark);
    color: var(--hvz-green-light);
}

.btn-success:hover {
    background-color: var(--hvz-green);
}

.btn-success:active {
    background-color: var(--hvz-green-darker);
}

.btn-scroll {
    position: fixed;
    z-index: 10;
    right: 10;
    bottom: 0;
    background-color: var(--hvz-text-light);
    border: 1px solid var(--hvz-border-dark);
    border-radius: 1rem;
    padding: 0.5rem 0.75rem;
    font-size: 3rem;
    height: auto;
    transform: scaleY(0);
    transform-origin: bottom;
    visibility: hidden;
    transition: all 0.25s ease;
    display: none;
}

.btn-scroll.scroll-visible {
    transform: scaleY(1);
    visibility: visible;
    bottom: 10;
}

.form-control {
    display: block;
    width: -webkit-fill-available;
    width: -moz-available;
    font-size: 1rem;
    line-height: 1.25;
    color: black;
    border: 1px solid var(--hvz-border);
    border-radius: 5px;
    margin: 5px 0px 0px 0px;
    max-width: inherit;
}

textarea.form-control {
    min-height: -moz-min-content;
    min-height: min-content;
    resize: vertical;
    max-width: -moz-available;
    max-width: -webkit-fill-available;
}

label.form-control {
    max-height: fit-content;
    display: table;
    padding: 8px;
}

label.form-control:empty {
    display: block;
}

.form-label {
    display: block;
    font-size: 1rem;
    width: -webkit-fill-available;
    width: -moz-available;
    line-height: 1.25;
    padding: 8px;
    color: var(--hvz-border);
    border: 1px solid var(--hvz-border);
    border-radius: 5px 0px 0px 5px;
    border-right-width: 0px;
    margin: 5px 0px 0px 0px;
    font-weight: bold;
    background-color: var(--hvz-text-light);
    height: 20px;
    height: fit-content;
}

.form-label+.form-control {
    border-radius: 0px 5px 5px 0px;
}

.form-label+.accordian>label {
    border-radius: 0px 5px 5px 0px;
}

.form-control+.btn, .form-label+.btn {
    border-radius: 0px 5px 5px 0px;
    margin: 5px 0px 0px 0px;
    border-left: none;
}

label:disabled {
    cursor: not-allowed;
}

.form-block {
    border-radius: 5px;
}

.icon-form {
    margin-top: 8px;
}

.login-form {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}

.login-form>form {
    width: -webkit-fill-available;
    width: -moz-fill-available;
    width: -ms-fill-available;
    width: 100%;
}

.login-form button {
    margin-left: 5px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
        only screen and (-o-min-device-pixel-ratio: 13/10),
        only screen and (min-resolution: 120dpi)
    {
    button, input {
        font-size: 32px;
    }
    .login-form {
        max-width: 800px;
    }
    .btn-scroll {
        display: inherit;
    }
    .cke_top {
        zoom: 2;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
        only screen and (-o-min-device-pixel-ratio: 13/10),
        only screen and (min-resolution: 120dpi),
        only screen and (max-width: 942px) {
    .btn-tab {
        display: inherit;
    }
}
