@media(max-width: 100px) {
    .show-100-above {
        display: none !important;
    }
}

@media(max-width: 200px) {
    .show-200-above {
        display: none !important;
    }
}

@media(max-width: 300px) {
    .show-300-above {
        display: none !important;
    }
}

@media(max-width: 400px) {
    .show-400-above {
        display: none !important;
    }
}

@media(max-width: 500px) {
    .show-500-above {
        display: none !important;
    }
}

@media(max-width: 600px) {
    .show-600-above {
        display: none !important;
    }
}

@media(max-width: 700px) {
    .show-700-above {
        display: none !important;
    }
}

@media(max-width: 800px) {
    .show-800-above {
        display: none !important;
    }
}

@media(max-width: 900px) {
    .show-900-above {
        display: none !important;
    }
}

@media(max-width: 1000px) {
    .show-1000-above {
        display: none !important;
    }
}

@media(max-width: 1100px) {
    .show-1100-above {
        display: none !important;
    }
}

@media(max-width: 1200px) {
    .show-1200-above {
        display: none !important;
    }
}

@media(max-width: 1300px) {
    .show-1300-above {
        display: none !important;
    }
}

@media(max-width: 1400px) {
    .show-1400-above {
        display: none !important;
    }
}

@media(max-width: 1500px) {
    .show-1500-above {
        display: none !important;
    }
}

@media(max-width: 1600px) {
    .show-1600-above {
        display: none !important;
    }
}

@media(max-width: 1700px) {
    .show-1700-above {
        display: none !important;
    }
}

@media(max-width: 1800px) {
    .show-1800-above {
        display: none !important;
    }
}

@media(min-width: 101px) {
    .show-100-below {
        display: none !important;
    }
}

@media(min-width: 201px) {
    .show-200-below {
        display: none !important;
    }
}

@media(min-width: 301px) {
    .show-300-below {
        display: none !important;
    }
}

@media(min-width: 401px) {
    .show-400-below {
        display: none !important;
    }
}

@media(min-width: 501px) {
    .show-500-below {
        display: none !important;
    }
}

@media(min-width: 601px) {
    .show-600-below {
        display: none !important;
    }
}

@media(min-width: 701px) {
    .show-700-below {
        display: none !important;
    }
}

@media(min-width: 801px) {
    .show-800-below {
        display: none !important;
    }
}

@media(min-width: 901px) {
    .show-900-below {
        display: none !important;
    }
}

@media(min-width: 1001px) {
    .show-1000-below {
        display: none !important;
    }
}

@media(min-width: 1101px) {
    .show-1100-below {
        display: none !important;
    }
}

@media(min-width: 1201px) {
    .show-1200-below {
        display: none !important;
    }
}

@media(min-width: 1301px) {
    .show-1300-below {
        display: none !important;
    }
}

@media(min-width: 1401px) {
    .show-1400-below {
        display: none !important;
    }
}

@media(min-width: 1501px) {
    .show-1500-below {
        display: none !important;
    }
}

@media(min-width: 1601px) {
    .show-1600-below {
        display: none !important;
    }
}

@media(min-width: 1701px) {
    .show-1700-below {
        display: none !important;
    }
}

@media(min-width: 1801px) {
    .show-1800-below {
        display: none !important;
    }
}
