.nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-tabs {
    border-bottom: 1px solid var(--hvz-border);
    margin-top: 5px;
}

.uib-tab.nav-item {
    border: 1px solid var(--hvz-border);
    border-radius: 5px 5px 0px 0px;
    font-weight: bold;
    border-bottom-width: 0px;
}

.uib-tab.nav-item[class$="active"]:hover>a {
    color: white;
}

.uib-tab.nav-item:not([class$="active"]):hover>a {
    background-color: var(--hvz-secondary);
}

.uib-tab.nav-item>a {
    color: var(--hvz-border-dark);
}

.uib-tab.nav-item[class$="active"] {
    background-color: var(--hvz-primary);
}

.uib-tab.nav-item[class$="active"]>a {
    color: var(--hvz-secondary);
}

.uib-tab.nav-item+.uib-tab.nav-item {
    border-left-width: 0px;
}

.nav-link {
    border: 0px!important;
    display: block;
    padding: 8px 16px;
}

.nav-tabs .nav-link {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-weight: 600;
}

a.nav-link {
    text-decoration: none;
}

.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
    display: block;
}

input[type="checkbox"]:not(:checked)+.btn-tab+div>ul {
    display: none;
}

@media  only screen and (-webkit-min-device-pixel-ratio: 1.3),
        only screen and (-o-min-device-pixel-ratio: 13/10),
        only screen and (min-resolution: 120dpi),
        only screen and (max-width: 942px)
    {
    .nav {
        display: inline;
    }

    .uib-tab.nav-item {
        border-radius: 0px;
    }

    .uib-tab.nav-item+.uib-tab.nav-item {
        border-left-width: 1px;
    }

    .nav.nav-tabs>*:last-child {
        border-bottom-width: 1px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .nav.nav-tabs>*:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
}

@media only screen and (min-width: 943px) {
    .nav-tabs {
        display: flex;
    }

    input[type="checkbox"]:not(:checked)+.btn-tab+div>ul {
        display: flex;
    }
}
