<html ng-app="app">

<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="icon" href="images/logo.png">
    <title ng-bind="pageTitle"></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.0/vis.min.css" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/894370d156.js"></script>
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyABQ2uLgmGnuIedZRTw6yC_39kDd13hLZk"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.0/vis.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.7.1/full-all/ckeditor.js"></script>
    <link rel="stylesheet" href="styles/media.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/accordian.css">
    <link rel="stylesheet" href="styles/inputs.css">
    <link rel="stylesheet" href="styles/grids.css">
    <link rel="stylesheet" href="styles/tabs.css">
    <link rel="stylesheet" href="styles/images.css">
    <link rel="stylesheet" href="styles/nav.css">
    <link rel="stylesheet" href="styles/animate.css">
    <link rel="stylesheet" href="styles/colorpicker.css">
</head>

<body id="top" ng-cloak>
    <div class="alerting">
        <div ng-class="alert.class" ng-repeat="alert in alerts">
            <span ng-bind="alert.text"></span>
            <button type="button" class="close close-alerts fa fa-times" aria-label="Close" ng-click="alerts.splice(alerts.indexOf(alert), 1)"></button>
        </div>
    </div>
    <div ui-view="navigation" style="position: static"></div>

    <div class="container-fluid view">
        <div class="row">
            <div class="col-md-12" ui-view="main"></div>
        </div>
    </div>


    <script src="dist/app.js"></script>
</body>

</html>
