<html ng-app="app">

<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="icon" href="images/logo.png">
    <title ng-bind="pageTitle"></title>
    <script src="https://use.fontawesome.com/894370d156.js"></script>
    <script src="https://cdn.ckeditor.com/4.7.1/full-all/ckeditor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.0/vis.min.js"></script>
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyABQ2uLgmGnuIedZRTw6yC_39kDd13hLZk"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.0/vis.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/_main.css">
</head>

<body id="top" ng-cloak>
    <div class="alerting">
        <div ng-class="alert.class" ng-repeat="alert in alerts track by $index">
            <span ng-bind="alert.text"></span>
            <button type="button" class="fa fa-times" ng-click="alerts.splice($index, 1)"></button>
        </div>
    </div>
    <div ui-view="navigation"></div>
    <div ui-view="main"></div>

    <script src="dist/app.js"></script>
</body>

</html>
