<div class="modal-header">
    <b>Change Name or Email</b>
</div>
<div class="modal-body">
    <div class="edit-player-grid">
        <label class="form-label">Player Name:</label>
        <input class="form-control" type="text" ng-model="player.playerName"></input>
        <label class="form-label">Player Email:</label>
        <input class="form-control" ng-model="player.email"></input>
    </div>
</div>
<div class="modal-footer">
    <div class="text-right">
        <button type="button" class="btn btn-success" ng-click="accept()">Update</button>
        <button type="button" class="btn btn-danger" ng-click="decline()">Cancel</button>
    </div>
</div>
