<div class="modal-header">
    Add new supply codes
</div>
<div class="modal-body">
    <div class="supply-codes-grid">
        <label class="form-label">Number Of Codes:</label>
        <input type="number" class="form-control" ng-model="numberOfCodes">
        <label class="form-label">Code Value:</label>
        <input type="number" class="form-control" placeholder="Code Value" ng-model="codeValue">
        <button class="btn btn-success" type="button" ng-click="generate()">Generate</button>
    </div>
    <br>
    <table ng-show="codes.length">
        <tr>
            <th>Code</th>
            <th>Value</th>
        </tr>
        <tr ng-repeat="code in codes">
            <td>{{code.code}}</td>
            <td>{{code.value}}</td>
        </tr>
    </table>
</div>
<div class="modal-footer">
    <div class="text-right">
        <button type="button" class="btn btn-success" ng-show="codes.length" ng-click="save()">Save Codes</button>
        <button type="button" class="btn btn-danger" ng-click="cancel()">Cancel</button>
    </div>
</div>
