<div class="modal-header">
    Player Waiver
</div>
<div class="modal-body">
    <span>I acknowledge that UW Humans vs. Zombies and the Federation of Students are not responsible for any injuries I may incur during play. I am completely responsible for my own safety, and the consequence for actions I take are on me and the other directly involved.</span>
    <br>
    <br>
    <span>I acknowledge that Humans vs. Zombies and the Federation of Students are not responsible for any property I may lose while playing the game (such as Nerf Bullets)</span>
    <br>
    <br>
    <span>I acknowledge that my email address will be released to the mod team and other players, and that I may receive e-mails from Humans vs. Zombies during the game.</span>
    <br>
    <br>
    <span>I acknowledge that Humans vs. Zombies may take and share photos of me during the game.</span>
    <br>
    <br>
    <span>I have read and understand the rules.</span>
</div>
<div class="modal-footer">
    <div class="text-right">
        <button type="button" class="btn btn-success" ng-click="accept()">Accept Waiver</button>
        <button type="button" class="btn btn-danger" ng-click="decline()">Decline Waiver</button>
    </div>
</div>
