<div class="centre">
    <br>
    <h1 style="font-size: 40px" ng-bind="game.name || 'Next Game'"></h1>
    <i ng-bind="game.description"></i>
</div>
<div>
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#Info" role="tab">Info</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Players" role="tab">Players</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Moderators" role="tab">Moderators</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="Info" role="tabpanel">
            <br>
            Game Starts: <span ng-bind="getDateString(game.startDate)"></span> at <span ng-bind="getTimeString(game.startDate)"></span>
            <br>
            Game Ends: <span ng-bind="getDateString(game.endDate)"></span> at <span ng-bind="getTimeString(game.endDate)"></span>
            <br>
            <br>
            Sign Up Days:
            <ul>
                <li ng-repeat="date in game.signUpDates">
                    <div ng-show="strikeThrough(date)">
                        <s ng-bind="getDateString(date)"></s>
                    </div>
                    <div ng-hide="strikeThrough(date)">
                        <span ng-bind="getDateString(date)"></span>
                    </div>
                </li>
            </ul>
            Sign Up Locations:
            <ul>
                <li ng-repeat="location in game.signUpLocations">
                    <a ng-href="/map{{locationUrls[location]}}" ng-bind="location"></a>
                </li>
            </ul>
        </div>
        <div class="tab-pane" id="Players" role="tabpanel">
            <div class="fluid-control">
                <div class="row">
                    <div class="col-sm-6">
                        <b>Player Name</b>
                    </div>
                    <div class="col-sm-3">
                        <b>Player Team</b>
                    </div>
                    <div class="col-sm-3">
                        <b>Player Score</b>
                    </div>
                </div>
                <div class="row" ng-repeat="player in gamePlayers">
                    <div class="col-sm-6">
                        <span ng-bind="player.playerName"></span>
                    </div>
                    <div class="col-sm-3">
                        <span ng-bind="player.team"></span>
                    </div>
                    <div class="col-sm-3">
                        <span ng-bind="player.score"></span>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="Moderators" role="tabpanel">
            <div class="fluid-control">
                <div class="row">
                    <div class="col-sm-6">
                        <b>Moderator Name</b>
                    </div>
                    <div class="col-sm-6">
                        <b>Moderator Email</b>
                    </div>
                </div>
                <div class="row" ng-repeat="player in gameMods">
                    <div class="col-sm-6">
                        <span ng-bind="player.playerName"></span>
                    </div>
                    <div class="col-sm-6">
                        <a href="{{'mailto:' + player.email}}" ng-bind="player.email"></a>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
