<div class="logo">
    <img src="images/logo.png">
</div>
<div class="home-grid">
    <i>Humans vs. Zombies (HvZ) is a game of moderated tag played at schools, camps, neighborhoods, military bases, and conventions across the world. Human players must remain vigilant and defend themselves with socks and dart blasters to avoid being tagged by a growing zombie horde.</i>
    <span>We are UW Humans Vs Zombies! The only club at UWaterloo that lets you run around campus stunning zombies with nerf or sock weapons, or lets you join the zombie cause to hunt down human players. Join in on the week long game event or in the occasional mini game to experience the thrill for yourself!</span>
    <p ng-bind="nextGameString"></p>
    <div>
        <a href="https://twitter.com/HVZAlertSystem" title="Twitter"><img class="icon-size" src="images/twitterIcon.png"></a>
        <a href="https://www.facebook.com/groups/uwhvz/" title="Facebook"><img class="icon-size" src="images/facebookIcon.png"></a>
        <a href="mailto:uwhumansvszombies@gmail.com" title="Email President"><img class="icon-size" src="images/emailIcon.png"></a>
        <a href="mailto:webmaster.uwhvz@gmail.com" title="Email Webmaster"><img class="icon-size" src="images/emailIcon2.png"></a>
    </div>
</div>
