<div class="text-centre" ng-hide="game">
    <h1>Well that's all folks!</h1>
    <span>No next game has been made please come back later</span>
</div>
<div ng-show="game">
    <div class="text-centre">
        <h1 ng-bind="game.name"></h1>
        <i ng-bind="game.description"></i>
    </div>
    <uib-tabset>
        <uib-tab index="0" heading="Info">
            Game Starts: <span ng-bind="getDateString(game.startDate)"></span> at <span ng-bind="getTimeString(game.startDate)"></span>
            <br>
            Game Ends: <span ng-bind="getDateString(game.endDate)"></span> at <span ng-bind="getTimeString(game.endDate)"></span>
            <br>
            <br>
            Sign Up Days:
            <ul>
                <li ng-repeat="date in game.signUpDates">
                    <div ng-show="strikeThrough(date)">
                        <s ng-bind="getDateString(date)"></s>
                    </div>
                    <div ng-hide="strikeThrough(date)">
                        <span ng-bind="getDateString(date)"></span>
                    </div>
                </li>
            </ul>
            Sign Up Locations:
            <ul>
                <li ng-repeat="location in game.signUpLocations">
                    <a ng-href="/map{{locationUrls[location]}}" ng-bind="location"></a>
                </li>
            </ul>
            Human Point Requirments:
            <ul>
                <li><span ng-bind="game.suppliedValue"></span> points to be supplied</li>
                <li><span ng-bind="game.railPassValue"></span> points for a rail pass</li>
                <li><span ng-bind="game.minorPassValue"></span> points for a minor building pass</li>
                <li><span ng-bind="game.majorPassValue"></span> points for a major building pass</li>
                <li><span ng-bind="game.officerValue"></span> points for an officer badge</li>
            </ul>
        </uib-tab>
        <uib-tab index="1" heading="Players">
            <div ng-hide="gamePlayers" class="text-centre">
                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
            </div>
            <div ng-show="gamePlayers">
                <div class="game-players-grid">
                    <b>Player Name</b>
                    <b>Player Team</b>
                    <b>Player Score</b>
                </div>
                <div class="game-players-grid" ng-repeat="player in gamePlayers">
                    <span ng-bind="player.playerName"></span>
                    <span ng-bind="player.team"></span>
                    <span ng-bind="player.score"></span>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="2" heading="Moderators">
            <div class="text-centre" ng-hide="gameMods">
                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
            </div>
            <div ng-show="gameMods">
                <div class="game-moderator-grid">
                    <b>Moderator Name</b>
                    <b>Moderator Email</b>
                </div>
                <div class="game-moderator-grid" ng-repeat="mod in gameMods">
                    <span ng-bind="mod.playerName"></span>
                    <a href="{{'mailto:' + mod.email}}" ng-bind="mod.email"></a>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="3" heading="Graphs">
            <div class="text-centre" ng-hide="gamePlayers && numberOfZombies != undefined">
                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
            </div>
            <div ng-show="gamePlayers && numberOfZombies != undefined">
                <b>Number of Players: </b><span ng-bind="gamePlayers.length"></span>
                <br>
                <b>Number of Zombies: </b><span ng-bind="numberOfZombies"></span>
                <br>
                <b>Number of Stuns: </b><span ng-bind="numberOfStuns"></span>
                <br>
                <div id="reportGraphs"></div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>
