<h1 class="text-centre">Welcome to the Annual Humans vs. Zombies Invitational at the University of Waterloo!</h1>
<br>
If you have never played Humans vs. Zombies, it’s a game of manhunt with Nerf blasters. Two teams clash in a simulation of a zombie apocalypse: Humans, who wear armbands, and Zombies, who wear headbands. Humans must defend themselves against the growing Zombie horde by defending themselves with Nerf blasters and socks, while Zombies attempt to tag them to turn them to their side. Both teams attempt missions throughout the game to ensure their group is victorious!
<br>
<br>
<b class="text-centre">The game is free but players must provide their own equipment (Nerf, socks, bandannas) and transportation to the event.</b>
<br>
<br>
Differences between our ruleset and typical rules for other HvZ games:
<br>
<ul>
    <li>We allow play inside (non-safe zone) buildings</li>
    <li>We allow melee weapons as long as they are made of SOCKS ONLY (no Nerf brand melee or boffers</li>
</ul>
Invitational rules <a target="_self" href="/files/invitational_rules.pdf" download="invitational_rules.pdf">here</a>
<br>
Facebook event pag <a href="https://www.facebook.com/events/118329678815765/">here</a>
<br>
Registration form <a href="https://docs.google.com/forms/d/e/1FAIpQLScacBQ1o6F0n0t5LLZnIi3BComYjxnQTu8kYQ3SAPUd1UE4RQ/viewform">here</a>
<br>
<br>
Tips:
<br>
<ul>
    <li>Bring sunscreen and good quality shoes!</li>
    <li>We’ll have water bottles, but a nice reusable one or canteen is a good idea.</li>
    <li>Bring a squad of friends so you can have each others’ backs!</li>
    <li>Parking: Lot X and Lot E are free on weekends with all others having a flat $5 rate. Parking map available <a href="https://uwaterloo.ca/map/pdf/map_colour.pdf">here</a></li>
    <li>Don’t know the campus? We’ll be handing out maps</li>
</ul>
If you are interested in future events, check out our facebook group <a href="https://www.facebook.com/groups/uwhvz/">here</a>!
