<input type="checkbox" hidden ng-model="tabsOpen" id="tabsOpen_Mods"></input>
<label class="btn btn-tab btn-info" for="tabsOpen_Mods">Tabs <i class="fa fa-caret-up" ng-show="tabsOpen"></i><i class="fa fa-caret-down" ng-hide="tabsOpen"></i></label>
<uib-tabset active="2">
    <uib-tab index="0" heading="Game Signups">
        <div ng-show="gameStarted">
            <h4 class="text-centre">No Game to sign up for or game has already started</h4>
        </div>
        <div ng-hide="gameStarted">
            <div class="text-right">
                <button type="button" class="btn btn-info" ng-click="addNewSignUp()">Register Returning Player</button>
                <button type="button" class="btn btn-success" ng-click="registerPlayer()">Register New Player</button>
            </div>
            <br>
            <br>
            <b>Players signed up: <span ng-bind="players.length"></span></b>
            <div class="game-signups-grid" ng-repeat="player in players">
                <label class="form-label">Player Email:</label>
                <input class="form-control" type="text" ng-model="player.userEmail" ng-disabled="editing != $index || player._id">
                <label class="form-label">Player Name:</label>
                <input type="text" class="form-control" ng-model="player.name" disabled>
                <label class="form-label">Team Preference:</label>
                <hvz-toggle values="'Zombie','Human','Spectator'" width="5.5em" ng-model="player.teamPreference" colours="'#888','#86d993','#966100'" ng-show="editing == $index"></hvz-toggle>
                <div>
                    <button type="button" class="icon-only h2 green" title="Save" ng-click="saveSignUp($index)" ng-show="editing == $index"><i class="fa fa-floppy-o"></i></button>
                    <button type="button" class="icon-only h2" ng-show="editing != $index" disabled><i class="fa fa-floppy-o"></i></button>
                    <button type="button" class="icon-only h2 blue" title="Edit" ng-click="editSignUp($index)" ng-show="editing != $index"><i class="fa fa-pencil"></i></button>
                    <button type="button" class="icon-only h2" ng-show="editing == $index" disabled><i class="fa fa-pencil"></i></button>
                    <button type="button" class="icon-only h2 red" title="Remove" ng-click="removeSignUp($index)" ng-show="editing == $index"><i class="fa fa-times"></i></button>
                    <button type="button" class="icon-only h2" ng-show="editing != $index" disabled><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="text-right" ng-show="players.length > 12">
                <button type="button" class="btn btn-info" ng-click="addNewSignUp()">Register Returning Player</button>
                <button type="button" class="btn btn-success" ng-click="registerPlayer()">Register New Player</button>
            </div>
        </div>
    </uib-tab>
    <uib-tab index="1" heading="Start Game">
        <div ng-show="gameStarted">
            <h4 class="text-centre">No Game to sign up for or game has already started</h4>
        </div>
        <div ng-hide="gameStarted">
            <div class="text-right">
                <button type="button" class="btn btn-success" ng-click="startGame()">Start Game</button>
                <button type="button" class="btn btn-info" ng-click="randomlyChooseOZs()">Randomize Rest of Original Zombies</button>
            </div>
            <br>
            <br>
            <div class="game-start-grid" ng-repeat="player in OZplayers">
                <label class="form-label">Player Name:</label>
                <label class="form-control disabled" ng-bind="player.name"></label>
                <label class="form-label">OZ Pool Assignment:</label>
                <hvz-toggle values="'Human','Zombie'" titles="'Human','Original Zombie'" width="9em" ng-model="player.startingTeam" colours="'#4286f4','#f4c741'"></hvz-toggle>
                <label class="form-label">Randomly Choosen:</label>
                <label class="form-control disabled" ng-bind="player.random"></label>
            </div>
            <br>
            <textarea id="GameLoreTextArea"></textarea>
            <input type="file" multiple file-input="files" class="btn btn-info">
        </div>
    </uib-tab>
    <uib-tab index="2" heading="Supply Codes">
        <div class="text-centre" ng-hide="supplyCodes">
            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        </div>
        <button class="btn btn-success text-right" type="button" ng-click="addCodes()" ng-show="supplyCodes">Add More Codes</button>
        <br>
        <div class="game-codes-grid" ng-repeat="code in supplyCodes">
            <div class="code tuple-grid">
                <label class="form-label">Supply Code:</label>
                <label class="form-control disabled" ng-bind="code.code"></label>
            </div>
            <div class="value tuple-grid">
                <label class="form-label">Value:</label>
                <label class="form-control disabled" ng-bind="code.value"></label>
            </div>
            <div class="used tuple-grid">
                <label class="form-label">Used By:</label>
                <label class="form-control disabled" ng-bind="code.usedByName"></label>
            </div>
        </div>
    </uib-tab>
    <uib-tab index="3" heading="Players">
        <div class="text-centre" ng-hide="gamePlayers">
            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        </div>
        <br>
        <div class="game-player-codes-grid" ng-repeat="player in gamePlayers">
            <div class="name tuple-grid">
                <label class="form-label">Player Name:</label>
                <label class="form-control disabled" ng-bind="player.playerName"></label>
            </div>
            <div class="code tuple-grid">
                <label class="form-label">Player Code:</label>
                <label class="form-control disabled" ng-bind="player.playerCode"></label>
            </div>
            <div class="email tuple-grid">
                <label class="form-label">Player Email:</label>
                <label class="form-control disabled"><b ng-show="player.confirmationToken" ng-bind="player.email"></b><span ng-hide="player.confirmationToken" ng-bind="player.email"></span></label>
            </div>
            <div class="actions">
                <button class="btn btn-warning" ng-click="fix($index)" type="button">Fix</button>
            </div>
        </div>
    </uib-tab>
    <uib-tab index="4" heading="Player Reports">
        <div class="text-centre" ng-hide="reports">
            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        </div>
        <div class="accordian" ng-repeat="day in reports">
            <input type="checkbox" id="tab_gameReports{{$index}}">
            <label for="tab_gameReports{{$index}}" ng-bind="day.name"></label>
            <div class="accordian-content">
                <br>
                <div class="report-grid" ng-repeat="report in day.reports">
                    <div class="tagger tuple-grid">
                        <label class="form-label">{{report.reportType}}{{report.reportType[report.reportType.length - 1]}}er:</label>
                        <label class="form-control disabled" ng-bind="report.taggerName"></label>
                    </div>
                    <div class="tagged tuple-grid">
                        <label class="form-label">{{report.reportType}}{{report.reportType[report.reportType.length - 1]}}ed:</label>
                        <label class="form-control disabled" ng-bind="report.taggedName"></label>
                    </div>
                    <div class="time tuple-grid">
                        <label class="form-label">Time:</label>
                        <label class="form-control disabled" ng-bind="report.timeString"></label>
                    </div>
                    <div class="location tuple-grid">
                        <label class="form-label">Location:</label>
                        <label class="form-control disabled" ng-bind="report.location"></label>
                    </div>
                    <div class="description tuple-grid">
                        <label class="form-label">Description:</label>
                        <label class="form-control disabled" ng-bind="report.description"></label>
                    </div>
                    <div class="actions">
                        <button type="button" class="btn btn-danger" ng-click="deleteReport(report._id)"><i class="fa fa-trash-o"></i></button>
                        <button type="button" class="btn btn-warning" ng-click="ratifyReport(report._id)" ng-show="!report.ratified"><i class="fa fa-thumbs-o-up"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </uib-tab>
    <uib-tab index="5" heading="One Time Events">
        <div class="tuple-grid">
            <label class="form-label">Unsupplied Death:</label>
            <button class="btn btn-danger" type="button" ng-click="unsuppliedDeath()">Commit</button>
        </div>
    </uib-tab>
    <uib-tab index="6" heading="Edit Game">
        <div class="games-grid">
            <div class="name tuple-grid">
                <label class="form-label">Game Name:</label>
                <input class="form-control" type="text" ng-model="game.name">
            </div>
            <div class="description tuple-grid">
                <label class="form-label">Game Description:</label>
                <input class="form-control" type="text" ng-model="game.description">
            </div>
            <div class="start tuple-grid">
                <label class="form-label">Game Start Date:</label>
                <input class="form-control" type="datetime-local" ng-model="game.startDate">
            </div>
            <div class="end tuple-grid">
                <label class="form-label">Game End Date:</label>
                <input class="form-control" type="datetime-local" ng-model="game.endDate">
            </div>
            <div class="officer tuple-grid">
                <label class="form-label">Game Officer Badge Value:</label>
                <input class="form-control" type="number" ng-model="game.officerValue">
            </div>
            <div class="major tuple-grid">
                <label class="form-label">Game Major Building Pass Value:</label>
                <input class="form-control" type="number" ng-model="game.majorPassValue">
            </div>
            <div class="minor tuple-grid">
                <label class="form-label">Game Minor Building Pass Value:</label>
                <input class="form-control" type="number" ng-model="game.minorPassValue">
            </div>
            <div class="rail tuple-grid">
                <label class="form-label">Game Rail Pass Value:</label>
                <input class="form-control" type="number" ng-model="game.railPassValue">
            </div>
            <div class="supplied tuple-grid">
                <label class="form-label">Game Human Supplied Level:</label>
                <input class="form-control" type="number" ng-model="game.suppliedValue">
            </div>
            <div class="locations accordian">
                <input type="checkbox" id="tab_locations{{$index}}">
                <label for="tab_locations{{$index}}">Game Sign Up Locations</label>
                <div class="accordian-content">
                    <div class="accordian-grid" ng-repeat="location in game.signUpLocations track by $index">
                        <label class="form-label">Location:</label>
                        <select class="form-control" ng-model="game.signUpLocations[$index]">
                            <option ng-repeat="mark in markers" value="{{mark.acronym}}">{{mark.title}}</option>
                        </select>
                        <button class="btn btn-danger" type="button" ng-click="removeLocation($index)"><i class="fa fa-times"></i></button>
                    </div>
                    <button class="right btn btn-success" type="button" ng-click="addLocation()"><i class="fa fa-plus"></i></button>
                </div>
            </div>
            <div class="locdates accordian">
                <input type="checkbox" id="tab_location_dates{{$index}}">
                <label for="tab_location_dates{{$index}}">Game Sign Up Location Dates</label>
                <div class="accordian-content">
                    <div class="accordian" ng-repeat="set in game.signUpLocationDates track by $index" ng-init="$dateIndex = $index">
                        <input type="checkbox" id="tab_location_dates{{$rootIndex}}-{{$index}}">
                        <label for="tab_location_dates{{$rootIndex}}-{{$index}}" ng-bind="game.signUpLocations[$index]"></label>
                        <div class="accordian-content">
                            <div class="accordian-grid" ng-repeat="date in set track by $index">
                                <label class="form-label">Date:</label>
                                <input class="form-control" type="date" ng-model="game.signUpLocationDates[$dateIndex][$index]">
                                <button class="btn btn-danger" type="button" ng-click="removeLocationDate($rootIndex, $dateIndex, $index)"><i class="fa fa-times"></i></button>
                            </div>
                            <button class="right btn btn-success" type="button" ng-click="addLocationDate($rootIndex, $dateIndex)"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dates accordian">
                <input type="checkbox" id="tab_dates{{$index}}">
                <label for="tab_dates{{$index}}">Game Sign Up Dates</label>
                <div class="accordian-content">
                    <div class="accordian-grid" ng-repeat="date in game.signUpDates track by $index">
                        <label class="form-label">Date:</label>
                        <input class="form-control" type="date" ng-model="game.signUpDates[$index]">
                        <button class="btn btn-danger" type="button" ng-click="removeDate($index)"><i class="fa fa-times"></i></button>
                    </div>
                    <button class="right btn btn-success" type="button" ng-click="addDate()"><i class="fa fa-plus"></i></button>
                </div>
            </div>
            <div class="moderators accordian">
                <input type="checkbox" id="tab_moderators{{$index}}">
                <label for="tab_moderators{{$index}}">Game Moderators</label>
                <div class="accordian-content">
                    <div class="accordian-grid" ng-repeat="moderator in game.moderatorObjs">
                        <label class="form-label">Moderator Name:</label>
                        <input class="form-control" type="text" ng-model="moderator.playerName" disabled>
                        <button class="btn btn-danger" type="button" ng-click="removePlayer($index, 'moderator')"><i class="fa fa-times"></i></button>
                    </div>
                    <button class="right btn btn-success" type="button" ng-click="addPlayer('moderator')"><i class="fa fa-plus"></i></button>
                </div>
            </div>
            <div class="humans accordian">
                <input type="checkbox" id="tab_humans{{$index}}">
                <label for="tab_humans{{$index}}">Game Humans</label>
                <div class="accordian-content">
                    <div class="accordian-grid" ng-repeat="human in game.humanObjs">
                        <label class="form-label">Human Name:</label>
                        <input class="form-control" type="text" ng-model="human.playerName" disabled>
                        <button class="btn btn-danger" type="button" ng-click="removePlayer($index, 'human')"><i class="fa fa-times"></i></button>
                    </div>
                    <button class="right btn btn-success" type="button" ng-click="addPlayer('human')"><i class="fa fa-plus"></i></button>
                </div>
            </div>
            <div class="zombies accordian">
                <input type="checkbox" id="tab_zombies{{$index}}">
                <label for="tab_zombies{{$index}}">Game Zombies</label>
                <div class="accordian-content">
                    <div class="accordian-grid" ng-repeat="zombie in game.zombieObjs">
                        <label class="form-label">Zombie Name:</label>
                        <input class="form-control" type="text" ng-model="zombie.playerName" disabled>
                        <button class="btn btn-danger" type="button" ng-click="removePlayer($index, 'zombie')"><i class="fa fa-times"></i></button>
                    </div>
                    <button class="right btn btn-success" type="button" ng-click="addPlayer('zombie')"><i class="fa fa-plus"></i></button>
                </div>
            </div>
            <div class="spectators accordian">
                <input type="checkbox" id="tab_spectators{{$index}}">
                <label for="tab_spectators{{$index}}">Game Spectators</label>
                <div class="accordian-content">
                    <div class="accordian-grid" ng-repeat="spectator in game.spectatorObjs">
                        <label class="form-label">Spectator Name:</label>
                        <input class="form-control" type="text" ng-model="spectator.playerName" disabled>
                        <button class="btn btn-danger" type="button" ng-click="removePlayer($index, 'spectator')"><i class="fa fa-times"></i></button>
                    </div>
                    <button class="right btn btn-success" type="button" ng-click="addPlayer('spectator')"><i class="fa fa-plus"></i></button>
                </div>
            </div>
            <button class="btn btn-success" type="button" ng-click="saveGame()"><i class="fa fa-save"></i></button>
        </div>
    </uib-tab>
</uib-tabset>
