<uib-tabset active="2">
    <uib-tab index="0" heading="Game Signups">
        <div ng-show="gameStarted">
            <h4 class="text-centre">No Game to sign up for or game has already started</h4>
        </div>
        <div ng-hide="gameStarted">
            <button type="button" class="btn btn-info float-right" ng-click="addPlayer()">Register New Player</button>
            <br>
            <b>Players signed up: <span ng-bind="players.length"></span></b>
            <div class="game-signups-grid" ng-repeat="player in players">
                <label class="form-label">Player Email:</label>
                <input class="form-control" type="text" ng-model="player.userEmail" ng-disabled="editing != $index">
                <label class="form-label">Player Name:</label>
                <input type="text" class="form-control" ng-model="player.name" disabled>
                <label class="form-label">Team Preference:</label>
                <hvz-toggle values="'Zombie','Human','Spectator'" width="5.5em" ng-model="player.teamPreference" colours="'#888','#86d993','#966100'" ng-show="editing == $index"></hvz-toggle>
                <div>
                    <button type="button" class="icon-only h2 text-success" title="Save" ng-click="savePlayer($index)" ng-show="editing == $index"><i class="fa fa-floppy-o"></i></button>
                    <button type="button" class="icon-only h2" ng-show="editing != $index" disabled><i class="fa fa-floppy-o"></i></button>
                    <button type="button" class="icon-only h2 text-primary" title="Edit" ng-click="editPlayer($index)" ng-show="editing != $index"><i class="fa fa-pencil"></i></button>
                    <button type="button" class="icon-only h2" ng-show="editing == $index" disabled><i class="fa fa-pencil"></i></button>
                    <button type="button" class="icon-only h2 text-danger" title="Remove" ng-click="removePlayer($index)" ng-show="editing == $index"><i class="fa fa-times"></i></button>
                    <button type="button" class="icon-only h2" ng-show="editing != $index" disabled><i class="fa fa-times"></i></button>
                </div>
            </div>
            <button type="button" class="btn btn-info float-right" ng-click="addPlayer()">Register New Player</button>
        </div>
    </uib-tab>
    <uib-tab index="1" heading="Start Game">
        <div ng-show="gameStarted">
            <h4 class="text-centre">No Game to sign up for or game has already started</h4>
        </div>
        <div ng-hide="gameStarted">
            <div class="float-right">
                <button type="button" class="btn btn-success" ng-click="startGame()">Start Game</button>
                <button type="button" class="btn btn-info" ng-click="randomlyChooseOZs()">Randomize Rest of Original Zombies</button>
            </div>
            <br>
            <br>
            <div class="game-start-grid" ng-repeat="player in OZplayers">
                <label class="form-label">Player Name:</label>
                <label class="form-control disabled" ng-bind="player.name"></label>
                <label class="form-label">OZ Pool Assignment:</label>
                <hvz-toggle values="'Human','Zombie'" titles="'Human','Original Zombie'" width="9em" ng-model="player.startingTeam" colours="'#4286f4','#f4c741'"></hvz-toggle>
                <label class="form-label">Randomly Choosen:</label>
                <label class="form-control disabled" ng-bind="player.random"></label>
            </div>
            <br>
            <textarea id="GameLoreTextArea"></textarea>
            <input type="file" multiple file-input="files" class="btn btn-info">
        </div>
    </uib-tab>
    <uib-tab index="2" heading="Supply Codes">
        <div class="text-centre" ng-hide="supplyCodes">
            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        </div>
        <button class="btn btn-success float-right" type="button" ng-click="addCodes()" ng-show="supplyCodes">Add More Codes</button>
        <br>
        <br>
        <div class="game-codes-grid" ng-repeat="code in supplyCodes">
            <label class="form-label">Supply Code:</label>
            <label class="form-control disabled" ng-bind="code.code"></label>
            <label class="form-label">Value:</label>
            <label class="form-control disabled" ng-bind="code.value"></label>
            <label class="form-label">Used By:</label>
            <label class="form-control disabled" ng-bind="code.usedByName"></label>
        </div>
    </uib-tab>
    <uib-tab index="3" heading="Player Codes">
        <div class="text-centre" ng-hide="gamePlayers">
            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        </div>
        <div class="game-player-codes-grid" ng-repeat="player in gamePlayers">
            <label class="form-label">Player Name:</label>
            <label class="form-control disabled" ng-bind="player.playerName"></label>
            <label class="form-label">Player Code:</label>
            <label class="form-control disabled" ng-bind="player.playerCode"></label>
        </div>
    </uib-tab>
    <uib-tab index="4" heading="Player Reports">
        <div class="text-centre" ng-hide="reports">
            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        </div>
        <div class="accordian" ng-repeat="day in reports">
            <input type="checkbox" id="tab_gameReports{{$index}}">
            <label for="tab_gameReports{{$index}}" ng-bind="day.name"></label>
            <div class="accordian-content">
                <div class="report-grid" ng-repeat="report in day.reports">
                    <label class="form-label">Tagger:</label>
                    <label class="form-control disabled" ng-bind="report.taggerName"></label>
                    <label class="form-label">Tagged:</label>
                    <label class="form-control disabled" ng-bind="report.taggedName"></label>
                    <label class="form-label">Time:</label>
                    <label class="form-control disabled" ng-bind="report.timeString"></label>
                    <label class="form-label">Location:</label>
                    <label class="form-control disabled" ng-bind="report.location"></label>
                    <label class="form-label">Description:</label>
                    <label class="form-control disabled" ng-bind="report.description"></label>
                    <label class="form-label">Type:</label>
                    <label class="form-control disabled" ng-bind="report.reportType"></label>
                    <div>
                        <button type="button" class="btn btn-danger" ng-click="deleteReport(report._id)"><i class="fa fa-trash-o"></i></button>
                        <button type="button" class="btn btn-warning" ng-click="ratifyReport(report._id)" ng-show="!report.ratified"><i class="fa fa-thumbs-o-up"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </uib-tab>
    <uib-tab index="5" heading="One Time Events">
        <div class="one-time-grid">
            <label class="form-label">Unsupplied Death:</label>
            <button class="btn btn-danger" type="button" ng-click="unsuppliedDeath()">Commit</button>
        </div>
    </uib-tab>
</uib-tabset>
