<nav>
    <img src="images/logo.png">
    <a href="/">Humans vs Zombies</a>
    <div class="navbar">
        <a href="{{route.route}}" ng-repeat="route in routes" ng-bind="route.text" ng-if="route.show"></a>
    </div>
    <img src="images/blue_zombie.png" class="button" ng-show="loggedIn" title="Log Out" alt="Logged In" ng-click="logout()">
    <img src="images/grey_zombie.png" ng-hide="loggedIn" alt="Not Logged In">
    <select ng-model="newRoute">
        <option value="" disabled><b>Menu:</b></option>
        <option value="{{route.route}}" ng-repeat="route in routes" ng-bind="route.text" ng-if="route.show"></option>
    </select>
</nav>
