<div class="text-centre">
    <br>
    <h1>Rules of the Game</h1>
    <br>
    <div class="text-left">
        <a target="_self" href="/files/rules.pdf" download="rules.pdf" class="btn btn-primary" role="button" aria-pressed="true" title="Download Rules PDF"><i class="fa fa-download"></i>  <i class="fa fa-file-text"></i></a>
    </div>
    <br>
    <div class="text-left">
        <b>Table of Contents:</b>
        <ul>
            <li><a href="#RulesOfSpirit">Rules of Spirit</a></li>
            <li><a href="#TeamsAndModerators">Teams and Moderators</a></li>
            <li><a href="#ApparelAndEquipment">Apparel and Equipment</a></li>
            <li><a href="#TaggingAndStunning">Tagging and Stunning</a></li>
            <li><a href="#HumanPointRewards">Human Point Rewards</a></li>
            <li><a href="#SpecialZombies">Special Zombies</a></li>
            <li><a href="#Boundaries">Boundaries</a></li>
            <li><a href="#SafetyAndConflictResolution">Safety and Conflict Resolution</a></li>
        </ul>
    </div>
    <p><i>Humans vs. Zombies is a massive game of tag, played with two teams: Humans and Zombies. Humans must survive the week by completing missions and stunning zombies with Nerf and sock weaponry. Zombies attempt to infect humans by tagging them.</i></p>
    <div class="text-left">
        <h1 id="RulesOfSpirit">Rules of Spirit</h1>
        <b>These rules are meant to help the keep the game running smoothly, please respect them and follow them.</b>
        <ul>
            <li>This is a game, it is meant to be fun.</li>
            <li>Read <b>all</b> the rules.</li>
            <li>Do not lie about the rules to other players.</li>
            <li>Attempting to exploit loopholes in the rules will not be tolerated, and moderators will rule against you. Try to read both the letter and the spirit of the rules.</li>
            <li>Play safe. There are many things on campus which can hurt you if you are reckless. Please do not do anything to injure yourselves while playing, and opt instead to have fun.</li>
            <li>There are no winners, there are no losers. Whether you're a zombie or a human, whether you survived five days or five hours, or whether you ate 500 brains or 2, your goal is to have fun. Don’t consider being tagged as losing, think of it as way to meet new friends and a chance to hunt your old ones.</li>
            <li>Respect university authority. If you think what you are going to do will make the university’s administrators, or other administrators, angry at you, don’t do it. Also, do not interfere with any University of Waterloo events or administration.</li>
        </ul>
    </div>
    <h1 style="color: blue" id="TeamsAndModerators">Teams and Moderators <a href="#top"><i class="fa fa-chevron-up"></i></a></h1>
    <div class="text-left">
        <b>Humans</b>
        <p>Each Human wears an armband. They are able to defend themselves using NERF blasters and socks.</p>
        <b>Zombies</b>
        <p>Zombies wear headbands. They try to chase and convert humans to their side. There are special types of zombies with abilities beyond regular zombies.</p>
        <b>Moderators</b>
        <p>The game is being run by a team of moderators, who can be identified by the orange sashes they wear. They organize the events of the game, and clarify any rules that cannot be resolved by players using the conflict resolution guide. The mods are lead by The Necromancer, who has the ultimate authority on any game matters.</p>
        <b>Non-Players</b>
        <p>Players are not allowed to enlist the help of non-players in the game. Players should make every effort to discourage non-players from interacting with the game, and encourage them to be impartial for the sake of fairness. Players may not ask for help:</p>
        <ul>
            <li>Scouting and spying</li>
            <li>Collecting food, ammunition, or class notes (to avoid class)</li>
            <li>Sending messages between players</li>
            <li>Act as a shield</li>
        </ul>
        <b>Identifying your Team</b>
        <p>When players are off campus, they are not required to wear their identifiers. However, if asked directly which team a player is on (in person), they must reply truthfully. In addition, any imagery used during the game must not misconstrue a player’s team, whether the player is on campus or not.</p>
    </div>
    <h1 style="color: blue" id="ApparelAndEquipment">Apparel and Equipment <a href="#top"><i class="fa fa-chevron-up"></i></a></h1>
    <div class="text-left">
        <b>ID Cards</b>
        <p>Every player is required to have two copies of their HvZ ID at all times during play. A custom ID for each player is available on the website.</p>
        <b>Nerf Blasters</b>
        <p>No melee NERF weapons are allowed. All weapons used in this game should be ranged NERF blasters, and clearly distinguishable from real weapons (bright colours such as orange and red, not camouflage models).</p>
        <p>Painted blasters and non-NERF blasters will be permitted on a case-by-case basis. All modifications to a blaster’s firing speed and range are banned from play. If it is unclear if your blaster is valid for play (such as if your blaster is not manufactured by NERF), contact the mod team before proceeding.</p>
        <p>As an option, Nerf ammunition may be thrown by hand. While attending classes or other official University of Waterloo events, all blasters must be stowed away out of sight. Ball-shooting blasters are not allowed for play.</p>
        <b>Sock Weapons</b>
        <p>Sock weapons must be entirely comprised of socks and cannot contain any other components. They can be melee weapons (such as a sock whip) or thrown weapons (such as balled up socks). Sock weapon which moderators determine to be dangerous are not allowed.</p>
        <p>Note that sock weapons are only valid when wielded with your hands. This means sock armour, kicking people without your shoes, or placing “sock traps” are useless endeavours.</p>
        <b>Bandanas and Armbands</b>
        <p>Your bandana can be any piece of cloth you can wrap around your head, neck or arm. All bandanas (or alternatives) must be clearly distinguishable from all sides, even in the dark or at a distance. It should not match or be close to the colour of your hair or clothes. If a moderator states your bandana is not obvious enough please find a better alternative.</p>
        <p>Humans wear their bandana around their upper arm. Zombies wear their bandana around their head if they are active, or around their neck if they are stunned. Your clothing and anything else you’re wearing is considered part of your person (backpack, etc.) and thus can be hit with NERF darts to stun or touched to tag. This includes NERF blasters, but not sock weapons.</p>
        <p>If you are employed on campus, remove your bandana for the entirety of your work shift. You are considered out of game while at work, you are a non-player. You must wear your bandana on the way to and from work, or when you are on break (since you are in play during the journey).</p>
        <b>Equipment requirements from Police Services:</b>
        <ul>
            <li>No camouflage, military, or tactical gear</li>
            <li>Holstered, pocketed or stowed away blasters must have bright tape on the handle. They should not be concealed within coats.</li>
            <li>Trench coats are not allowed</li>
            <li>No carrying non-sock melee or prop weapons</li>
            <li>Light face paint is okay</li>
        </ul>
    </div>
    <h1 style="color: blue" id="TaggingAndStunning">Tagging and Stunning <a href="#top"><i class="fa fa-chevron-up"></i></a></h1>
    <div class="text-left">
        <b>Tagging</b>
        <p>A zombie player may tag a human by touching them with their hands. For the next thirty minutes, the tagged player is now a stunned zombie.</p>
        <p>To report tags, the zombie player who tagged the human should take one of their ID cards and enter that player’s ID number onto the website. There is no need to wait for the tag to be registered on the website before the new zombie tags new victims.</p>
        <b>Stunning</b>
        <p>A human player may stun a zombie by either hitting them with a sock or NERF dart. A zombie stunned by a human remains so for fifteen minutes.</p>
        <p>While stunned a zombie must put their bandana around their neck. A stunned zombie may not interact with humans in any way, nor may they provide information regarding humans, explicitly or implicitly, to other zombies. This rule also pertains to newly tagged humans. They may, however, report that they have been stunned, or follow an unstunned zombie.</p>
        <b>Points</b>
        <p>When humans report a stun on a zombie, they can receive points. With enough points, a human will earn rewards that will help them survive the week.</p>
        <p>To report a zombie stun, a human must collect the zombie’s player code within the zombie’s stun time and submit it to the website. The human cannot make the zombie move (e.g. to a safe area) while they are collecting the code. A human must physically collect a code from the zombie even if they already know the zombie’s player code. What this means is the zombie may give you a physical copy of their code but more than likely you will need to copy it down.</p>
    </div>
    <h1 style="color: blue" id="HumanPointRewards">Human Point Rewards <a href="#top"><i class="fa fa-chevron-up"></i></a></h1>
    <div class="text-left">
        <p>When a human player has earned enough game points through various activities, certain reward items can be collected from moderators. Usually these points can be collected through stunning or completing certain missions.</p>
        <p>How many points each reward is worth will be determined at the start of the game and will be stated in the first email. Passes and badges can be picked up wherever indicated in an email sent out by the mod team. Human rewards can only be used by humans, and may include:</p>
        <b>Supplied</b>
        <p>On the last day of the game before the final mission all humans below a certain threshold of points will be killed off. Players above this threshold are considered "supplied".</p>
        <b>Passes</b>
        <p>A pass allows a player to moves safely through areas in which they would normally be at risk of death. The following rules apply to all pass types:</p>
        <ul>
            <li>A pass is only active while a player has raised the pass over their head with their hand.</li>
            <li>To activate their pass a player must raise it over their head either before ​entering the pass’ area of effect, or in a safe zone within the pass's declared building.</li>
            <li>You may deactivate the pass at any time within the pass's area of effect by putting down the pass. See the above rule to reactivate the pass.</li>
            <li>Passes cannot be shared, loaned, or given to a player in any way, nor can they be stolen.</li>
            <li>You cannot stun zombies while using your pass. However you may pick up bullets or collect personal items. Players are still able to scout for their team and communicate information.</li>
            <li>Passes may not be forcibly deactivated.</li>
            <li>Mission emails will give alternative or new rules for using a pass during a mission.</li>
        </ul>
        <b>Rail Pass</b>
        <p>Rail Passes allow a player to move safely through any overpasses and tunnels between buildings. As is the case for all passes, a player must have the pass over their head before entering the applicable area.</p>
        <b>Building Pass</b>
        <p>Building Passes allow a player to move safely through a specific building. Buildings are divided into Minor and Major buildings. When the first level of Minor Building pass is earned you may choose from any of the Minor buildings, however when you have earned your Major Building pass you may choose from either list.</p>
        <table>
            <tr>
                <td>Minor</td>
                <td>B1, BMH, CPH, EV3, PHY, QNC, RCH</td>
            </tr>
            <tr>
                <td>Major</td>
                <td>AL, DC, EIT, MC</td>
            </tr>
        </table>
        <b>Officer Badge</b>
        <p>Officer Badges allow a human player to die once and still remain human. A player with this badge (an officer) wears two armbands (one on each arm) instead of one, and they carry a card provided to them by the mod team.</p>
        <p>When an officer is killed, they rip up the officer badge and take off one of their arm bands. The former officer is then out of game until they either reach a safe zone of their choice or ten minutes have passed, at which point they revive. They must also carry their ripped card in their hands until they revive.</p>
    </div>
    <h1 style="color: blue" id="SpecialZombies">Special Zombies <a href="#top"><i class="fa fa-chevron-up"></i></a></h1>
    <div class="text-left">
        <p>Occasionally the Necromancer will allow the zombie team to give one zombie special abilities. Once the team has informed the moderators on their choice the special zombie will be photographed by mods, and a picture of the special zombie will be emailed out to all players.</p>
        <b>Wraith</b>
        <p>Wraiths are like regular zombies, but they can use melee sock weapons. Wraith socks follow the same rules as human sock weapons, except that they cannot be thrown. Wraiths can block darts using their sock weapons. If a Wraith sock becomes entangled, as in cannot pull them apart, with a human sock, both socks are inert until untangled. Wraiths must have their socks visible whenever they are in-game.</p>
        <b>Tank</b>
        <p>Tanks cannot be stunned with NERF weapons, they can only be stunned by socks. A tank wears three bandanas, one on either arm, as well as one on their head. As with regular zombies, a tank’s head bandana must be around their neck while stunned.</p>
        <b>Zedic</b>
        <p>Zedics can revive stunned zombies. They can be identified by a light purple sash, in addition to their headband. Each day a zedic will have 5 revival cards which they can use. These cards do not carry over between days.</p>
        <ol>
            To revive a zombie, the Zedic must:
            <li>Point to a zombie in line of sight.</li>
            <li>Say the incantation on the card.</li>
            <li>Rip the card(s).</li>
        </ol>
        <p>Following the ritual, the revived zombie must loudly count to 10 before becoming active (pulling their headband back on). The Zedic cannot revive zombies while the Zedic is in a safe zone. The Zedic also cannot revive others through a window. Regular zombies cost 1 card to revive, while special zombies cost 2.</p>
    </div>
    <h1 style="color: blue" id="Boundaries">Boundaries <a href="#top"><i class="fa fa-chevron-up"></i></a></h1>
    <div class="text-left">
        <p>Humans vs. Zombies is only played on the UW main campus within the boundaries of:</p>
        <ul>
            <li>Columbia Street to the North</li>
            <li>The railroad tracks to the East</li>
            <li>University Avenue to the South</li>
            <li>Westmount Road to the West</li>
        </ul>
        <p>The sidewalks on these boundary streets are also considered outside the boundary and five feet from these boundaries are safe following the safe zone rules. Although you may plan and communicate with allies out of the game boundaries, while out of bounds players cannot tag or be tagged. You also are not required to wear your equipment when out of bounds, though you are bound by the rules about lying.</p>
        <b>Temporal Boundaries</b>
        <p>The game runs all 24 hours of each day of the play period.</p>
        <b>Safe Zones</b>
        <p>For both administrative and safety reasons, certain areas and buildings on campus are considered safe zones. Both stunning and tagging are prohibited in safe zones, and no NERF or sock weapons may be used. Players must still wear their bandanas within these safe zones.</p>
        <p>Most importantly, players should also try to avoid making a disturbance in safe zones by running around or acting reckless. These areas are out of play to keep both players and non-players safe, and to keep the game on good terms with the university. Please don’t jeopardize the game by playing in these areas.</p>
        <b>Safe Zone Boundaries</b>
        <p>If any part of a player's body is within a safe zone, that player is considered in the safe zone. A player inside a safe zone can not tag or stun a player outside a safe zone. Jumping in and out of a safe zone repeatedly is considered cheating and is considered a violation of the first rule of spirit.</p>
        <p>All doorways have a semi-circular 5 foot buffer into the unsafe area it touches. This buffer is cut off by walls. This buffer exists whether the door is open or not.</p>
        <p>When a player is exiting a safe zone, all opposing players must be at least 5 feet away from the exiting player (to prevent crowding). This space rule ends when the exiting player leaves their safe zone.</p>
        <b>Permanent Safe Zones</b>
        <ul>
            <b>Entire Buildings:</b>
            <li>Federation Hall</li>
            <li>Needles Hall</li>
            <li>Health Services</li>
            <li>Student Life Centre</li>
            <li>Tatham Centre</li>
            <li>Grad House</li>
            <li>University Club</li>
            <li>Dana Porter Library</li>
            <li>Central Services Building</li>
            <li>General Services Complex</li>
            <li>COM (UW Police building)</li>
        </ul>
        <ul>
            <b>Smaller areas:</b>
            <li>Faculty-run food establishments (e.g. POETS, Coffee &amp; Donut stores)</li>
            <li>Libraries and designated study areas</li>
            <li>Chapels and Multi-Faith prayer rooms</li>
            <li>Stores and other businesses</li>
            <li>Offices and Labs</li>
            <li>Society Offices</li>
            <li>Dorm rooms and their hallways</li>
            <li>Gyms</li>
            <li>Theatres</li>
            <li>Cafeterias</li>
            <li>Washrooms</li>
            <li>Balconies</li>
            <li>Non-fenced construction sites plus a 7m (20ft) boundary area</li>
        </ul>
        <p>Common sense should also be used in regards to safe zones. If an area seems unsafe to play in, make this known to nearby players and settle the matter honourably.</p>
        <b>Temporary Safe Zones</b>
        <p>All buildings are safe zones between 10AM and 4PM although tunnels and bridges between buildings are not. The mine tunnel between EIT and ESC counts as part of EIT rather than a tunnel.</p>
        <p>Rooms with an event (class, club event, etc.) are considered safe zones (with the applicable 5 foot radius) for the entire duration of the event plus the five minutes before the official event start time, and five minutes after the official event end time.</p>
        <b>Vehicles</b>
        <p>Anyone in a vehicle is out of play. This includes bikes, skateboards, cars, scooters, and roller-blades. Please note that it is against the rules to enter a vehicle specifically to run away from another player. You may also not use vehicles with the sole intent of helping yourself or your team in the game.</p>
    </div>
    <h1 style="color: blue" id="SafetyAndConflictResolution">Safety and Conflict Resolution <a href="#top"><i class="fa fa-chevron-up"></i></a></h1>
    <div class="text-left">
        <b>Safety</b>
        <p>Above all, use common sense. Don’t risk yourself or others for what is, at the end of the day, a game. For fire safety reasons, do not hold doors closed and do not crowd doorways.</p>
        <p>Do not climb trees, jump on people from above, or anything else which would jeopardize the safety of any human being. If a player is carrying a heavy object, or otherwise involved in a potentially hazardous activity, treat them as if they are out of play.</p>
        <p>In case of an emergency, fire alarm, or injury, consider the area and anyone involved out of play. If you feel that a player has put the safety of themselves, other players, or non-players at risk, contact a moderator.</p>
        <b>Conflict Resolution</b>
        <p>If you do not know exactly where an area goes from safe to unsafe, ask another player or mod.</p>
        <p>Players having a game-related discussion with a moderator are considered out of play. If you are unsure whether your discussion is game-related, ask the mod you are talking to. However the necromancer is the ultimate authority on any rule interpretations or events of the week.</p>
        <p>If players are absolutely unable to come to an agreement after (civil) discussion, the official method of deciding the outcome is Rock, Paper, Scissors. While disputing a conflict, both parties are considered out of play until the dispute is settled.</p>
        <b>Game Feedback</b>
        <p>If you have feedback about HvZ, a meeting called the Postmortem is held after every game. These meetings are the best place to bring up comments or concerns about the game itself, as during the week the moderators will be focused on running the event.</p>
    </div>
</div>
