<uib-tabset>
    <uib-tab index="0" heading="Games">
        <button type="button" class="icon-only green" title="Add New Game" ng-click="addGame()"><i class="fa fa-plus"></i></button>
        <div class="accordian" ng-repeat="game in games" ng-init="$rootIndex = $index">
            <input type="checkbox" id="tab_games{{$index}}">
            <label for="tab_games{{$index}}"><span ng-bind="game.name"></span> - <span ng-bind="getYear(game.startDate)"></span></label>
            <div class="accordian-content">
                <div class="games-grid">
                    <label class="form-label">Game Name:</label>
                    <input class="form-control" type="text" ng-model="game.name">
                    <label class="form-label">Game Description:</label>
                    <input class="form-control" type="text" ng-model="game.description">
                    <label class="form-label">Game Start Date:</label>
                    <input class="form-control" type="datetime-local" ng-model="game.startDate">
                    <label class="form-label">Game End Date:</label>
                    <input class="form-control" type="datetime-local" ng-model="game.endDate">
                    <label class="form-label">Game Officer Badge Value:</label>
                    <input class="form-control" type="number" ng-model="game.officerValue">
                    <label class="form-label">Game Major Building Pass Value:</label>
                    <input class="form-control" type="number" ng-model="game.majorPassValue">
                    <label class="form-label">Game Minor Building Pass Value:</label>
                    <input class="form-control" type="number" ng-model="game.minorPassValue">
                    <label class="form-label">Game Rail Pass Value:</label>
                    <input class="form-control" type="number" ng-model="game.railPassValue">
                    <label class="form-label">Game Human Supplied Level:</label>
                    <input class="form-control" type="number" ng-model="game.suppliedValue">
                    <div class="accordian">
                        <input type="checkbox" id="tab_locations{{$index}}">
                        <label for="tab_locations{{$index}}">Game Sign Up Locations</label>
                        <div class="accordian-content">
                            <div class="accordian-grid" ng-repeat="location in game.signUpLocations track by $index">
                                <label class="form-label">Location:</label>
                                <select class="form-control" ng-model="game.signUpLocations[$index]">
                                    <option ng-repeat="mark in markers" value="{{mark.acronym}}">{{mark.title}}</option>
                                </select>
                                <button class="btn btn-danger" type="button" ng-click="removeLocation($rootIndex, $index)"><i class="fa fa-times"></i></button>
                            </div>
                            <button class="right btn btn-success" type="button" ng-click="addLocation($rootIndex)"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="accordian">
                        <input type="checkbox" id="tab_dates{{$index}}">
                        <label for="tab_dates{{$index}}">Game Sign Up Dates</label>
                        <div class="accordian-content">
                            <div class="accordian-grid" ng-repeat="date in game.signUpDates track by $index">
                                <label class="form-label">Date:</label>
                                <input class="form-control" type="date" ng-model="game.signUpDates[$index]">
                                <button class="btn btn-danger" type="button" ng-click="removeDate($rootIndex, $index)"><i class="fa fa-times"></i></button>
                            </div>
                            <button class="right btn btn-success" type="button" ng-click="addDate($rootIndex)"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="accordian">
                        <input type="checkbox" id="tab_moderators{{$index}}">
                        <label for="tab_moderators{{$index}}">Game Moderators</label>
                        <div class="accordian-content">
                            <div class="accordian-grid" ng-repeat="moderator in game.moderatorObjs">
                                <label class="form-label">Moderator Name:</label>
                                <input class="form-control" type="text" ng-model="moderator.playerName" disabled>
                                <button class="btn btn-danger" type="button" ng-click="removePlayer($rootIndex, $index, 'moderator')"><i class="fa fa-times"></i></button>
                            </div>
                            <button class="right btn btn-success" type="button" ng-click="addPlayer($rootIndex, 'moderator')"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="accordian">
                        <input type="checkbox" id="tab_humans{{$index}}">
                        <label for="tab_humans{{$index}}">Game Humans</label>
                        <div class="accordian-content">
                            <div class="accordian-grid" ng-repeat="human in game.humanObjs">
                                <label class="form-label">Human Name:</label>
                                <input class="form-control" type="text" ng-model="human.playerName" disabled>
                                <button class="btn btn-danger" type="button" ng-click="removePlayer($rootIndex, $index, 'human')"><i class="fa fa-times"></i></button>
                            </div>
                            <button class="right btn btn-success" type="button" ng-click="addPlayer($rootIndex, 'human')"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="accordian">
                        <input type="checkbox" id="tab_zombies{{$index}}">
                        <label for="tab_zombies{{$index}}">Game Zombies</label>
                        <div class="accordian-content">
                            <div class="accordian-grid" ng-repeat="zombie in game.zombieObjs">
                                <label class="form-label">Zombie Name:</label>
                                <input class="form-control" type="text" ng-model="zombie.playerName" disabled>
                                <button class="btn btn-danger" type="button" ng-click="removePlayer($rootIndex, $index, 'zombie')"><i class="fa fa-times"></i></button>
                            </div>
                            <button class="right btn btn-success" type="button" ng-click="addPlayer($rootIndex, 'zombie')"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="accordian">
                        <input type="checkbox" id="tab_spectators{{$index}}">
                        <label for="tab_spectators{{$index}}">Game Spectators</label>
                        <div class="accordian-content">
                            <div class="accordian-grid" ng-repeat="spectator in game.spectatorObjs">
                                <label class="form-label">Spectator Name:</label>
                                <input class="form-control" type="text" ng-model="spectator.playerName" disabled>
                                <button class="btn btn-danger" type="button" ng-click="removePlayer($rootIndex, $index, 'spectator')"><i class="fa fa-times"></i></button>
                            </div>
                            <button class="right btn btn-success" type="button" ng-click="addPlayer($rootIndex, 'spectator')"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <button class="btn btn-success" type="button" ng-click="saveGame($index)"><i class="fa fa-save"></i></button>
                    <button class="btn btn-danger" type="button" ng-click="removeGame($index)"><i class="fa fa-times"></i></button>
                </div>
            </div>
        </div>
    </uib-tab>
    <uib-tab index="1" heading="Markers">
        <button type="button" class="icon-only green" title="Add New Marker" ng-click="addMarker()"><i class="fa fa-plus"></i></button>
        <div class="markers-grid" ng-repeat="marker in markers">
            <label class="form-label">Acryonym:</label>
            <input class="form-control" type="text" ng-model="marker.acronym" ng-disabled="editingMarker != $index">
            <label class="form-label">Latitude:</label>
            <input class="form-control" type="number" ng-model="marker.lat" ng-disabled="editingMarker != $index">
            <label class="form-label">Longitude:</label>
            <input class="form-control" type="number" ng-model="marker.lng" ng-disabled="editingMarker != $index">
            <label class="form-label">Full Name:</label>
            <input class="form-control" type="text" ng-model="marker.title" ng-disabled="editingMarker != $index">
            <div class="icon-form">
                <button type="button" class="icon-only green" title="Save" ng-click="saveMarker($index)" ng-show="editingMarker == $index"><i class="fa fa-floppy-o"></i></button>
                <button type="button" class="icon-only" ng-show="editingMarker != $index" disabled><i class="fa fa-floppy-o"></i></button>
                <button type="button" class="icon-only blue" title="Edit" ng-click="editMarker($index)" ng-show="editingMarker != $index"><i class="fa fa-pencil"></i></button>
                <button type="button" class="icon-only" ng-show="editingMarker == $index" disabled><i class="fa fa-pencil"></i></button>
                <button type="button" class="icon-only red" title="Remove" ng-click="removeMarker($index)" ng-show="editingMarker == $index"><i class="fa fa-times"></i></button>
                <button type="button" class="icon-only" ng-show="editingMarker != $index" disabled><i class="fa fa-times"></i></button>
            </div>
        </div>
    </uib-tab>
    <uib-tab index="2" heading="Polygons">
        <button type="button" class="icon-only green" title="Add New Polygon" ng-click="addPolygon()"><i class="fa fa-plus"></i></button>
        <div class="polygon-grid" ng-repeat="polygon in polygons" ng-init="$rootIndex = $index">
            <label class="form-label">Name and Classification:</label>
            <input class="form-control" type="text" ng-model="polygon.name" ng-disabled="editingPolygon != $index">
            <label class="form-label">Colour:</label>
            <select class="form-control" ng-model="polygon.colour" ng-disabled="editingPolygon != $index">
                <option value="#000000">Game Area</option>
                <option value="#ff0000">Major Building</option>
                <option value="#0000ff">Minor Building</option>
                <option value="#00ff00">Safe Building</option>
                <option value="#8b4513">Bridge or Tunnel</option>
            </select>
            <label class="form-label">Points:</label>
            <div class="accordian">
                <input type="checkbox" id="tab_verticies{{$index}}" ng-disabled="editingPolygon != $index">
                <label for="tab_verticies{{$index}}">Polygon Verticies</label>
                <div class="accordian-content">
                    <div class="verticies-grid" ng-repeat="point in polygon.points">
                        <label class="form-label">Latitude:</label>
                        <input class="form-control" type="number" ng-model="point.lat">
                        <label class="form-label">Longitude:</label>
                        <input class="form-control" type="number" ng-model="point.lng">
                        <button class="btn btn-danger form-block" type="button" ng-click="removePoint($rootIndex, $index)"><i class="fa fa-times"></i></button>
                        <button class="btn btn-success" type="button" ng-click="addPointAfter($rootIndex, $index)" title="Add point after"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
            </div>
            <div class="icon-form">
                <button type="button" class="icon-only green" title="Save" ng-click="savePolygon($index)" ng-show="editingPolygon == $index"><i class="fa fa-floppy-o"></i></button>
                <button type="button" class="icon-only" ng-show="editingPolygon != $index" disabled><i class="fa fa-floppy-o"></i></button>
                <button type="button" class="icon-only blue" title="Edit" ng-click="editPolygon($index)" ng-show="editingPolygon != $index"><i class="fa fa-pencil"></i></button>
                <button type="button" class="icon-only" ng-show="editingPolygon == $index" disabled><i class="fa fa-pencil"></i></button>
                <button type="button" class="icon-only red" title="Remove" ng-click="removePolygon($index)" ng-show="editingPolygon == $index"><i class="fa fa-times"></i></button>
                <button type="button" class="icon-only" ng-show="editingPolygon != $index" disabled><i class="fa fa-times"></i></button>
            </div>
        </div>
    </uib-tab>
    <uib-tab index="3" heading="Game Commands">
        <div class="super-player-grid">
            <label class="form-label">Player Codes:</label>
            <button class="btn btn-success" type="button" ng-click="regenerateCodes()">Regenerate All</button>
                <label class="form-label">Old Supply Codes:</label>
                <button class="btn btn-danger" type="button" ng-click="deleteUnusedSupplyCodes()">Delete Unused</button>
        </div>
    </uib-tab>
    <uib-tab index="4" heading="Players">
        <div class="game-player-codes-grid" ng-repeat="player in players">
            <label class="form-label">Player Name:</label>
            <label class="form-control disabled" ng-bind="player.playerName"></label>
            <label class="form-label">Player Code:</label>
            <label class="form-control disabled" ng-bind="player.playerCode"></label>
        </div>
    </uib-tab>
</uib-tabset>
