<select ng-model="currentTree" class="formish-control custom-select w-100">
    <option value="" selected disabled>Select Game</option>
    <option ng-repeat="tree in trees track by $index" value="{{$index}}" ng-bind="tree.name"></option>
</select>

<div id="zombieTree"></div>

<div class="fluid-control">
    <div ng-show="starved.length > 0">
        <div class="row">
            <div class="col-sm-12">
                <b>Once Starved Humans:</b>
            </div>
        </div>
        <div class="row" ng-repeat="starving in starved">
            <div class="col-sm-12">
                <span ng-bind="starving"></span>
            </div>
        </div>
    </div>
</div>
