<div ng-show="session == null">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-4" style="margin-top: 50px;">
                <form>
                    <input class="form-control" type="email" ng-model="email" placeholder="Email">
                    <input class="form-control" type="password" ng-model="password" placeholder="Password">
                    <div ng-show="buttonState === 'signUp'">
                        <input class="form-control" type="password" ng-model="passwordCheck" placeholder="Password again">
                        <div class="red_text">
                            Passwords must have the following:
                            <ul>
                                <li>An Uppercase letter</li>
                                <li>A Lowercase letter</li>
                                <li>A Number</li>
                                <li>At least 8 characters in length</li>
                            </ul>
                        </div>
                        <input class="form-control" type="text" ng-model="name" placeholder="Full Name (not changable)">
                        <b>Do you wish to join the next game?</b>
                        <hvz-toggle values="false, true" titles="'No','Yes'" width="4em" ng-model="joinNextGame" colours="'#4286f4','#f4c741'"></hvz-toggle>
                        <hvz-toggle values="'Zombie','Human','Spectator'" width="5.5em" ng-model="teamPreference" colours="'#888','#86d993','#966100'" ng-show="joinNextGame"></hvz-toggle>
                    </div>
                    <div class="float-right">
                        <div class="input-group">
                            <button class="btn btn-warning" type="button" ng-click="forgotPassword()">Forgot Password</button>
                            <hr style="margin: 2.5px">
                            <button class="btn btn-secondary" type="button" ng-click="signUp()">Sign Up</button>
                            <hr style="margin: 2.5px">
                            <button class="btn btn-success" type="button" ng-click="logIn()">Log In</button>
                            <button type="submit" style="display:none" ng-click="submitAuthenticationForm()"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div ng-hide="session == null">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" id="modtabs">
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Score" role="tab">Score</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Messages" role="tab">Messages</a></li>
        <li class="nav-item hidden-xs-down"><a class="nav-link active" data-toggle="tab" href="#Code" role="tab">Code</a></li>
        <li class="nav-item hidden-xs-down"><a class="nav-link" data-toggle="tab" href="#Settings" role="tab">Settings</a></li>
        <li class="nav-item dropdown hidden-sm-up">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button">Menu</a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item hidden-sm-up" data-toggle="tab" href="#Code" role="tab">Code</a>
                <a class="dropdown-item hidden-sm-up" data-toggle="tab" href="#Settings" role="tab">Settings</a>
            </div>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane" id="Score" role="tabpanel">
            <div class="text-center" ng-show="userInfo.status">
                <br>
                <h4 ng-bind="userInfo.status"></h4>
            </div>
            <div ng-hide="userInfo.status">
                <br>
                <h3>Your team: <span ng-bind="userInfo.playerType || 'NonPlayer'"></span></h3>
                <br>
                <h3>Your score: <span ng-bind="userInfo.playerScore || '0'"></span></h3>
                <h5>Stuns: <span ng-bind="userInfo.playerStunScore || '0'"></span></h5>
                <ul>
                    <li ng-repeat="description in userInfo.stuns"><span ng-bind="description"></span></li>
                </ul>
                <h5>Tags: <span ng-bind="userInfo.playerTagScore || '0'"></span></h5>
                <ul>
                    <li ng-repeat="description in userInfo.tags"><span ng-bind="description"></span></li>
                </ul>
                <h5>Supply Codes: <span ng-bind="userInfo.playerSupplyScore || '0'"></span></h5>
                <ul>
                    <li ng-repeat="description in userInfo.codes"><span ng-bind="description"></span></li>
                </ul>
                <br>
                <h3>Your team score: <span ng-bind="userInfo.teamScore || '0'"></span></h3>
                <br>
            </div>
        </div>
        <div class="tab-pane" id="Messages" role="tabpanel">
            <div class="container-fluid">
                <select class="formish-control w-100" ng-model="messageTo">
                    <option value="" selected disabled>Message To:</option>
                    <option value="{{validRecipient.value}}" ng-repeat="validRecipient in validRecipients">{{validRecipient.title}}</option>
                </select>
                <div class="input-group">
                    <span class="input-group-addon" id="messageSubject">Subject</span>
                    <input type="text" class="form-control" ng-model="messageSubject" aria-describedby="messageSubject">
                </div>
                <b>Your Name will be appended to your message!</b>
                <textarea rows="6" ng-model="messageBody" placeholder="Message Body" id="MessageBodyTextArea"></textarea>
                <br>
                <div class="hidden-sm-up">
                    <input type="file" multiple file-input="files" class="btn btn-info w-100">
                    <br>
                    <br>
                    <button type="button" class="btn btn-success float-right w-100" ng-click="sendMessage()">Send Message</button>
                    <br>
                </div>
                <div class="hidden-xs-down">
                    <input type="file" multiple file-input="files" class="btn btn-info">
                    <button type="button" class="btn btn-success float-right" ng-click="sendMessage()" style="height: 44px">Send Message</button>
                </div>
                <br>
            </div>
        </div>
        <div class="tab-pane active" id="Code" role="tabpanel">
            <div class="text-center h5">
                <br> Your Code: <b ng-bind="user.playerCode"></b> <br> <br>
            </div>
            <div class="text-center">
                <h3>Report a Stun/Tag</h3>
            </div>
            <table>
                <tr>
                    <td>
                        <div class="fluid-control" style="padding: 15px;">
                            <div class="row">
                                <textarea rows="4" cols="80" class="form-control" ng-model="taggedDescription" placeholder="Tagging Desciption"></textarea>
                            </div>
                            <div class="row">
                                <div class="col-sm-1 padding-less">
                                    <label class="btn btn-secondary formish-controlw-100">Location:</label>
                                </div>
                                <div class="col-sm-11 padding-less">
                                    <input type="text" class="form-control" ng-model="location" step="0">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-1 padding-less">
                                    <label class="btn btn-secondary formish-control w-100" style="height: 42px;" style="">Time:</label>
                                </div>
                                <div class="col-sm-11 padding-less">
                                    <input type="datetime-local" class="form-control" ng-model="time" step="0" ng-change="timeHasChanged()">
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-group">
                                    <input type="text" class="form-control input-group-no-top" ng-model="taggedCode" placeholder="Tagged Player's Code...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-success" type="button" ng-click="tagCode()">Tag!</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <br>
            <table>
                <tr>
                    <td>
                        <div class="text-center">
                            <h3>Use a Supply Code</h3>
                            <br>
                            <br>
                            <div class="input-group">
                                <input type="text" class="form-control input-group-no-top" ng-model="supplyCode" placeholder="Supply Code...">
                                <span class="input-group-btn">
                                    <button class="btn btn-success" type="button" ng-click="supplyCodeReport()">Open Drop!</button>
                                </span>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="tab-pane" id="Settings" role="tabpanel">
            <div class="container-fluid" style="padding: 10px;">
                <button type="button" class="float-right btn btn-info" ng-click="logOut()">logout</button>
                <div class="hidden-sm-up">
                    <br>
                    <br>
                </div>
                <input id="gEmail" class="tgl tgl-skewed" type="checkbox" ng-model="settings.gameEmails">
                <label class="tgl-btn" data-tg-off="OFF" data-tg-on="ON" for="gEmail"></label>
                <span class="tgl-label whitespace">    Receive game play information emails</span>
                <br>
                <input id="pEmail" class="tgl tgl-skewed" type="checkbox" ng-model="settings.promotionalEmails">
                <label class="tgl-btn" data-tg-off="OFF" data-tg-on="ON" for="pEmail"></label>
                <span class="tgl-label whitespace">    Receive promotional emails</span>
                <br>
                <input id="sScore" class="tgl tgl-skewed" type="checkbox" ng-model="settings.showScore">
                <label class="tgl-btn" data-tg-off="OFF" data-tg-on="ON" for="sScore"></label>
                <span class="tgl-label whitespace">    Show score publicly</span>
                <br>
                <button class="btn btn-secondary" type="button" colorpicker colorpicker-position="right" ng-model="settings.treeNodeColour" style="padding:2px 17px" ng-hide="supportsColour"><img src="images/ColourWheel.png" style="max-height:28px"></button>
                <input class="colourpicker" type="color" ng-show="supportsColour" ng-model="settings.treeNodeColour">
                <span class="tgl-label whitespace">    Zombie Tree Node Colour</span>
                <br>
                <div class="row">
                    <div class="col-lg-6">
                        <input type="password" class="form-control" ng-model="oldPassword" placeholder="Old Password">
                        <input type="password" class="form-control" ng-model="newPassword" placeholder="New Password">
                        <input type="password" class="form-control" ng-model="newPasswordCheck" placeholder="New Password Check">
                        <button type="button" class="btn btn-success" ng-click="changePassword()">Change Password</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
