<div class="login-form" ng-show="session == null">
    <form>
        <input class="form-control" type="email" ng-model="email" placeholder="Email">
        <input class="form-control" type="password" ng-model="password" placeholder="Password">
        <div ng-show="buttonState === 'signUp'">
            <input class="form-control" type="password" ng-model="passwordCheck" placeholder="Password again">
            <div class="red">
                Passwords must have the following:
                <ul>
                    <li>An Uppercase letter</li>
                    <li>A Lowercase letter</li>
                    <li>A Number</li>
                    <li>At least 8 characters in length</li>
                </ul>
            </div>
            <input class="form-control" type="text" ng-model="name" placeholder="Full Name (not changable)">
        </div>
        <div class="text-right">
            <button class="btn btn-warning" type="button" ng-click="forgotPassword()">Forgot Password</button>
            <button class="btn btn-info" type="button" ng-click="signUp()">Sign Up</button>
            <button class="btn btn-success" type="button" ng-click="logIn()">Log In</button>
            <button class="hidden" type="submit" ng-click="submitAuthenticationForm()"></button>
        </div>
    </form>
</div>
<uib-tabset ng-hide="session == null" active="2">
    <uib-tab index="0" heading="Score">
        <br>
        <div class="centre" ng-hide="userInfo">
            <h4>Please wait, loading...</h4>
        </div>
        <div class="text-centre" ng-show="userInfo === 'nogame'">
            <h3>No game currently running</h3>
        </div>
        <div ng-hide="userInfo === 'nogame' || !userInfo">
            <h3>Your team: <span ng-bind="userInfo.userType || 'NonPlayer'"></span></h3>
            <br>
            <h3>Your score: <span ng-bind="userInfo.userScore.stunScore + userInfo.userScore.tagScore + userInfo.userScore.codeScore || '0'"></span></h3>
            <h5>Stuns: <span ng-bind="userInfo.userScore.stunScore || '0'"></span></h5>
            <ul>
                <li ng-repeat="description in userInfo.userScore.stunDescriptions"><span ng-bind="description"></span></li>
            </ul>
            <h5>Tags: <span ng-bind="userInfo.userScore.tagScore || '0'"></span></h5>
            <ul>
                <li ng-repeat="description in userInfo.userScore.tagDescriptions"><span ng-bind="description"></span></li>
            </ul>
            <h5>Supply Codes: <span ng-bind=" userInfo.userScore.codeScore || '0'"></span></h5>
            <ul>
                <li ng-repeat="description in userInfo.userScore.codeDescriptions"><span ng-bind="description"></span></li>
            </ul>
            <br>
            <h3>Your team score: <span ng-bind="userInfo.teamScore || '0'"></span></h3>
            <br>
        </div>
    </uib-tab>
    <uib-tab index="1" heading="Messages">
        <div class="messages-grid" ng-controller="UserCtrl">
            <label class="form-label">Recipient(s):</label>
            <select class="form-control" ng-model="message.messageTo">
                <option value="{{validRecipient.value}}" ng-repeat="validRecipient in validRecipients">{{validRecipient.title}}</option>
            </select>
            <label class="form-label">Subject:</label>
            <input type="text" class="form-control" ng-model="message.messageSubject">
            <b>Your Name will be appended to your message!</b>
            <textarea id="MessageBodyTextArea"></textarea>
            <div class="messages-buttons-grid">
                <input type="file" multiple file-input="files" class="btn btn-info">
                <button type="button" class="btn btn-success text-right" ng-click="sendMessage()">Send Message</button>
            </div>
        </div>
    </uib-tab>
    <uib-tab index="2" heading="Reporting">
        <br>
        <h3 class="text-centre">Your Code: <b ng-bind="user.playerCode"></b></h3>
        <br>
        <h4 class="text-centre">Report a Stun/Tag</h4>
        <div class="stun-grid">
            <label class="form-label">Report Desciption:</label>
            <textarea class="form-control" rows="1" cols="80" ng-model="taggingCode.taggedDescription"></textarea>
            <label class="form-label">Location:</label>
            <input class="form-control" type="text" ng-model="taggingCode.location">
            <label class="form-label">Time:</label>
            <input class="form-control" type="datetime-local" ng-model="taggingCode.time" step="0" ng-change="timeHasChanged()">
            <label class="form-label">Other Player's Code:</label>
            <input class="form-control" type="text" ng-model="taggingCode.taggedCode">
            <button class="btn btn-success" type="button" ng-click="tagCode()">Tag!</button>
        </div>
        <br>
        <h4 class="text-centre">Use a Supply Code</h4>
        <div class="supply-grid">
            <label class="form-label">Supply Code:</label>
            <input class="form-control" type="text" ng-model="supplyCodeReporting.supplyCode">
            <button class="btn btn-success" type="button" ng-click="supplyCodeReport()">Open Drop!</button>
        </div>
    </uib-tab>
    <uib-tab index="3" heading="Settings">
        <button class="btn btn-info text-right" type="button" ng-click="logOut()">logout</button>
        <br>
        <br>
        <div class="settings-grid">
            <label class="form-label">Receive game emails:</label>
            <hvz-toggle titles="'OFF','ON'" values="false, true" width="4em" ng-model="settings.gameEmails" colours="'#888888','#86d993'"></hvz-toggle>
            <label class="form-label">Receive promotional emails:</label>
            <hvz-toggle titles="'OFF','ON'" values="false, true" width="4em" ng-model="settings.promotionalEmails" colours="'#888888','#86d993'"></hvz-toggle>
            <label class="form-label">Show score publicly:</label>
            <hvz-toggle titles="'OFF','ON'" values="false, true" width="4em" ng-model="settings.showScore" colours="'#888888','#86d993'"></hvz-toggle>
            <label class="form-label">Zombie Tree Colour:</label>
            <input class="colourpicker" type="color" ng-show="supportsColour" ng-model="settings.treeNodeColour">
            <h3 class="text-centre">Reset Password</h3>
            <div class="resetpassword-grid">
                <label class="form-label">Old Password</label>
                <input class="form-control" type="password" ng-model="oldPassword">
                <label class="form-label">New Password</label>
                <input class="form-control" type="password" ng-model="newPassword">
                <label class="form-label">New Password Check</label>
                <input class="form-control" type="password" ng-model="newPasswordCheck">
                <button class="btn btn-success" type="button" ng-click="changePassword()">Change Password</button>
            </div>
        </div>
    </uib-tab>
</uib-tabset>
<hvz-toggle class="ng-hide" titles="'OFF','ON'" values="false, true" width="4em" ng-model="settings.showScore" colours="'#888888','#86d993'"></hvz-toggle>
